<!DOCTYPE html>
<html style="font-size: 50px;">
<head>
    <title>{{page_param['title']}}</title>
    <meta charset="utf-8"/>
    <meta name="keywords" content="{{page_param['keywords']}}">
    <meta name="description" content="{{page_param['description']}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/wap-home.css" />
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <!-- 头部 -->
    <div class="header wrap">
        <p>免费领最高100万出行保障</p>
    </div>
    <!-- 表单主体 -->
    <div class="form-container wrap">
        <div class="form-title">
            <h2>仅剩<span>1000</span>份</h2>
            <p>完善信息即可领取</p>
        </div>
        <div class="form-content">
            <form class="form-box" id="form-box" method="post">
                <div class="input-box clx">
                    <div class="left-box name-icon-box"></div>
                    <div class="right-box"><input type="text" name="name" id="name" class="input-text" placeholder="请输入真实姓名"></div>
                </div>
                <div class="input-box mobile-box clx">
                    <div class="left-box mobile-icon-box"></div>
                    <div class="right-box"><input type="tel" name="mobile" id="mobile" class="input-text" placeholder="请输入手机号码接收保单信息"></div>
                </div>
                <div class="input-box idCard-box clx" style="display: none">
                    <div class="left-box idCard-icon-box"><em></em></div>
                    <div class="right-box"><input type="text" name="idCard" id="idCard" class="input-text" placeholder="请输入身份证号验证身份"></div>
                </div>

                <div class="agree-box clx">
                    <input id="agree-button" type="checkbox">
                    <label class="fr" for="agree-button">
                        <em></em>本人同意领取免费险并阅读<a href="javascript:;" id="activity-rules-btn">活动规则</a>
                    </label>
                </div>

                <a href="javascript:;" class="form-submit" id="form-submit">免费领取</a>
            </form>
        </div>
    </div>
    <!-- 提示 -->
    <p class="detail-tip wrap">温馨提示：我们会根据您所在的城市，为您匹配以下一款赠险产品，保险公司会致电您落实赠险生效事宜。</p>
    <!-- tab切换 -->
    {% if page_param.get('is_show_tab_cover', False) %}
    <div class="wrap" style="padding-bottom: .3rem;">
        <div class="insurances-box-no-pingan">
            <div id="logos-top" class="logos-top clearfix">
                {% for item in page_param['tab_cover'] %}
                <a class="{{ item['hover'] }}" href="javascript:;"></a>
                {% end %}
            </div>
            <div id="insurance-items-box" class="insurance-items-box">
                {% for item in page_param['tab_cover'] %}
                <div class="item-box {{ item['hover'] }}">
                    {% for item_child in item['insurance'] %}
                    <h4 class="title">{{ item_child['insurance_name'] }}</h4>
                    <table>
                        <thead>
                        <tr>
                            <td colspan="2">
                                <span>保障期限：{{ item_child['period'] }}</span>
                                <span>保障年龄：{{ item_child['age'] }}</span>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>保障内容</td>
                            <td>最高保障</td>
                        </tr>
                        {% if 'insurance_interest_list' in item_child %}
                        {% for line in item_child['insurance_interest_list'] %}
                        <tr>
                            <td>{{ line['content'] }}</td>
                            <td>{{ line['amount'] }}</td>
                        </tr>
                        {% end %}
                        {% else %}
                        <tr>
                            <td>{{ item_child['insurance_interest'] }}</td>
                            <td>{{ item_child['coverage'] }}</td>
                        </tr>
                        {% end %}
                        </tbody>
                    </table>
                    {% end %}
                </div>
                {% end %}
            </div>
        </div>
    </div>
    {% end %}

    <!-- 遮罩层 -->
    <div class="mask" id="mask"></div>
    <!-- 活动规则 -->
</body>
</html>