*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #fff;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #bfbfbf;
}
input::-moz-placeholder {
    color: #bfbfbf;
}
input:-ms-input-placeholder {
    color: #bfbfbf;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 4.98rem;
    background: url("../images/wap-home-banner.png") center no-repeat;
    background-size: 100%;
    color: #ffffff;
}
.header h1 {
    position: absolute;
    top: .16rem;
    left: .92rem;
    font-size: .48rem;
    font-weight: normal;
}
.header h2 {
    position: absolute;
    top: .94rem;
    left: 1.54rem;
    font-size: .3rem;
    font-weight: normal;
}
.header h2 span {
    font-size: .18rem;
}
.banner-welfare-box {
    position: absolute;
    left: 50%;
    bottom: .4rem;
    width: 7.3rem;
    height: 1.7rem;
    margin-left: -3.65rem;
}
.banner-welfare-box .banner-welfare-item {
    position: relative;
    width: 3.6rem;
    height: 1.7rem;
    background: #fff;
    text-align: center;
}
.banner-welfare-box .left-item:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1.25rem;
    height: 1.17rem;
    background: url("../images/banner-icon-left.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.banner-welfare-box .right-item:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.09rem;
    height: 1.14rem;
    background: url("../images/banner-icon-right.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: 1;
}
.banner-welfare-item h3 {

    font-weight: normal;
    font-size: .34rem;
    color: #000;
}
.banner-welfare-item h3 span {
    color: #007cd2;
}
.banner-welfare-item p {
    position: relative;
    font-size: .24rem;
    color: #000;
    z-index: 2;
}
.left-item h3 {
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.left-item p {
    position: absolute;
    top: 1rem;
    right: .88rem;
}
.right-item h3 {
    position: absolute;
    top: .5rem;
    left: .9rem;
}
.right-item p {
    position: absolute;
    top: 1rem;
    left: .66rem;
}
.plus {
    position: absolute;
    top: .6rem;
    left: 50%;
    width: .5rem;
    height: .5rem;
    margin-left: -.25rem;
    background: #f1f1f1;
    border-radius: 50%;
}
.plus:before {
    position: absolute;
    top: .17rem;
    left: .24rem;
    width: .03rem;
    height: .15rem;
    background: #444444;
    content: '';
}
.plus:after {
    position: absolute;
    top: .23rem;
    left: .18rem;
    width: .15rem;
    height: .03rem;
    background: #444444;
    content: '';
}
/* 表单 */
.form-content {
    width: 6.7rem;
    margin: 0 auto;
    font-size: 0;
}
.form-content .form-title {
    position: relative;
    width: 6.5rem;
    margin: .4rem auto .3rem;
    font-size: .28rem;
    color: #000000;
    text-align: center;
}
.form-content .form-title p {
    position: relative;
    width: 5rem;
    margin: 0 auto;
    background: #fff;
}
.form-content .form-title:before {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000000;
    content: '';
    z-index: -1;
}
.input-box {
    position: relative;
    height: .52rem;
    border: 1px solid #d6d6d6;
    margin-bottom: .3rem;
    padding: .2rem .3rem;
    font-size: 0;
}
.input-box .left-box {
    width: .9rem;
    height: .52rem;
    line-height: .52rem;
    color: #000000;
    font-size: .3rem;
    float: left;
    text-align: justify;
    text-align-last: justify;
    overflow: hidden;
}
.input-box .right-box {
    height: .52rem;
    line-height: .52rem;
    float: left;
    border-left: 1px solid #e2e2e2;
    margin-left: .48rem;
}
.input-box .right-box .input-text {
    width: 4.3rem;
    height: .52rem;
    line-height: .52rem;
    padding-left: .3rem;
    font-size: .28rem;
}
.box-right {
    position: absolute;
    top: .26rem;
    right: .4rem;
    font-size: .28rem;
}
.box-right .send {
    color: #007cd2;
    font-size: .28rem;
}
.form-submit {
    position: relative;
    width: 6.7rem;
    height: .9rem;
    display: inline-table;
    line-height: .9rem;
    text-align: center;
    color: #ffffff;
    font-size: .36rem;
    background: #007cd2;
    border-radius: .04rem;
    margin-bottom: .4rem;
    margin-top: .1rem;
}
/* 同意 */
.form-box .agree-box {
    width: 5.4rem;
    margin: 0 auto;
    font-size: .24rem;
    color: #898989;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.9rem;
    padding-left: .44rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    top: 0;
    left: 0;
    width: .32rem;
    height: .32rem;
    content: "";
    border: 1px solid #0a84ec;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-box .agree-box input:checked + label>em {
    background: url('../images/form-checked.png') no-repeat #0a84ec;
    background-size: .3rem;
}
.form-box .agree-box label a{
    color: #0070c8;
    text-decoration: none;
}
/* 活动详情 */
.activity-box {
    height: 4.46rem;
    background: url("../images/activity-detail-bg.png") center no-repeat;
    background-size: 100%;
    margin-top: .6rem;
}
.activity-box h3 {
    position: absolute;
    top: .34rem;
    left: .64rem;
    font-weight: normal;
    font-size: .4rem;
    color: #fff;
}
.activity-box p {
    position: absolute;
    top: .9rem;
    left: .64rem;
    font-size: .4rem;
    color: #fff;
}
.activity-box p b {
    font-weight: normal;
    color: #68baff;
}
.activity-box p span {
    display: inline-block;
    margin-left: .14rem;
    font-size: .2rem;
    color: #ffffff;
}
.activity-detail-box {
    position: absolute;
    top: 1.72rem;
    left: .6rem;
}
.activity-detail-item {
    position: relative;
    width: 3.7rem;
    padding-left: .3rem;
    font-size: .24rem;
    color: #ffffff;
    margin-bottom: .4rem;
}
.activity-detail-item em {
    position: absolute;
    top: .04rem;
    left: 0;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    font-style: normal;
    border: 1px solid #fff;
    border-radius: .04rem;
}
.activity-detail-item:last-child {
    width: 2.64rem;
}
/* 页底 */
.footer {
    padding: .3rem 0;
    background: #fafafa;
    text-align: center;
}
.footer p {
    height: .36rem;
    line-height: .36rem;
    font-size: .2rem;
    color: #888888;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 12;
    display: none;
}
/* 弹窗样式 */
.modal{
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 6.9rem;
    margin-left: -3.75rem;
    display: none;
    z-index: 13;
    background: #fff;
}
.modal.rules.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.modal.rules>h3 {
    position: relative;
    height: .9rem;
    padding-left: .3rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #007cd2;
    background-color: #f3f3f3
}
.modal.rules>h3>a {
    position: absolute;
    top: 0;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    background:url(../images/wap-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal.rules .content {
    height: 5.5rem;
    padding: .3rem;
    overflow-y: scroll;
}
.modal.rules .content>p {
    line-height: .48rem;
    font-size: .24rem;
    color: #8e8e8e;
}