*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
html,body {
    height: 100%;
}
body{
    background-color: #78d697;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #acacac;
}
input::-moz-placeholder {
    color: #acacac;
}
input:-ms-input-placeholder {
    color: #acacac;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
/* 头部 */
.header {
    height: 4.1rem;
    background: linear-gradient(to bottom,#65d8f3,#a9f6fe);
}
.header:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 2.28rem;
    background: url("../images/turntable-banner.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.header .rules-box-button {
    position: absolute;
    top: .24rem;
    left: .12rem;
    width: 1.07rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .28rem;
    color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}
.header .rules-box-button .rules-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.header .rules-button-content:before {
    position: absolute;
    top: .07rem;
    left: .08rem;
    width: .26rem;
    height: .26rem;
    background: url("../images/icon-rules.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.header .rules-button-content {
    position: absolute;
    padding-left: .4rem;
}
/* 树背景 */
.content-bg {
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 7.5rem;
    height: 3.05rem;
}
.content-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 3.05rem;
    background: url("../images/tree-bg.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.content {
    background: linear-gradient(to bottom,#9ae592,#78d697);
    margin-top: .75rem;
    position: relative;
    height: 4.58rem;
}
/*转盘抽奖开始*/
.turntable{
    position: absolute;
    left: 50%;
    top: -2.6rem;
    width: 6.2rem;
    height: 6.2rem;
    z-index: 1001;
    margin-left: -3.15rem;
}
.turntable-bg{
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
}
.turntable-bg img{
    width: 100%;
}
.turntable-awards{
    position: absolute;
    left: 50%;
    top: .3rem;
    width: 5.5rem;
    z-index: 1001;
    margin-left: -2.75rem;
}
.turntable-awards img{
    width: 100%;
}
.turntable-btn{
    position: absolute;
    top: 2.8rem;
    left: 50%;
    margin: -.9rem;
    z-index: 1002;
    background: url("../images/turntable-btn.png") center no-repeat;
    background-size: 100%;
    width: 1.8rem;
    height: 2.15rem;
}
.turntable-btn input{
    width: 100%;
    border: 0;
    height: 100%;
    opacity: 0;
}
.turntable-shadow{
    width: 2.88rem;
    height: .74rem;
    position: absolute;
    left: 50%;
    margin-left: -1.44rem;
    bottom: -.1rem;
    z-index: -1;
}
.turntable-shadow img{
    width: 100%;
}
.turntable-hand{
    position: absolute;
    top: 2.5rem;
    left: 3.44rem;
    z-index: 1100;
}
.turntable-hand .turntable-dot{
    width: .42rem;
    height: .42rem;
}
.turntable-hand .turntable-hand-icon{
    width: .92rem;
    height: .92rem;
    position: absolute;
    left: .2rem;
    top: .65rem;
}
.turntable-hand img{
    width: 100%;
}

.prize_center{
    position: absolute;
    top: 3.6rem;
    left: 50%;
    width: 6.22rem;
    height: 1rem;
    background: url(../images/prize-center-btn.png) center no-repeat;
    background-size: 100%;
    margin-left: -3.11rem;
}
.prize_center span{
    font-size: .24rem;
    color: #ffffff;
}
.prize_center span:first-child{
    position: absolute;
    left: 1rem;
    top: 0.3rem;
}
.prize_center span:first-child b{
    font-size: .32rem;
    color: #f6ff00;
    display: inline-block;
    margin: 0 .08rem;
    border-bottom: 1px solid #f6ff00;
}
.prize_center span:last-child{
    position: absolute;
    right: .86rem;
    top: 0.35rem;
}
.prize_center span:last-child b{
    position: absolute;
    top: -6px;
    background-color: #8247fa;
    border: none;
    border-radius: 50%;
    font-size: 10px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
}
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 10;
}
.redpacket-box{
    position: absolute;
    left: .28rem;
    top: 2rem;
    width: 7rem;
    height: 8.45rem;
    z-index: 1100;
}
.redpacket-box .redpacket-bg{
    width: 100%;
    position: absolute;
}
.redpacket-info{
    font-size: .4rem;
    color: #d92d3d;
    font-weight: bold;
    position: absolute;
    top: 5.3rem;
    left: 2.17rem;
}
.redpacket-button{
    width: 6rem;
    height: 1.04rem;
    position: absolute;
    bottom: 0.84rem;
    left: 0.48rem;
    background: url("../images/redpacket-button.png")  no-repeat;
    background-size: 100% 100%;
}
.redpacket-button input{
    width: 100%;
    font-size: .38rem;
    color: #9c3604;
    border: none;
    background: none;
    height: 100%;
    position: absolute;
    font-weight: bold;
}
.redpacket-chance{
    position: absolute;
    bottom: .3rem;
    left: 2.4rem;
    font-size: .24rem;
    color: #ffa49b;
}
.redpacket-close{
    width: .7rem;
    height: .7rem;
    position: absolute;
    bottom: -0.8rem;
    left: 3.11rem;
}
.redpacket-box .redpacket-close img{
    width: 100%;
}
.gift-img{
    position: absolute;
    width: 5.8rem;
    height: 3.5rem;
    top: 1.55rem;
    left: .6rem;
}
/*手机点击效果动画*/
.click{
    animation: click .5s linear infinite;
}
@keyframes click {
    0%{
        transform: skewY(0deg);
    }
    100%{
        transform: skewY(15deg);

    }
}
/*手指点击波纹效果*/
.click-dot{
    animation: spread 1s linear infinite;
}
@keyframes spread {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);

    }
}
/*转盘旋转*/
.xuanzhuan{
    animation: xuanzhuan 15s linear infinite;
}
@keyframes xuanzhuan {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);

    }
}
.xuanzhuan-award{
    animation: xuanzhuan-award 60s linear infinite;
}
@keyframes xuanzhuan-award {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);

    }
}
/*从小到大 动画*/
.page_resizeBig{
    animation: resizeBig .6s ease both;
}
@keyframes resizeBig {
    0%{
        transform: scale(0.0);
        opacity: 0;
    }
    100%{
        transform: scale(.5.5);
        opacity: 1;
    }
}
.btn_resizeBig{
    animation: btnResizeBig 1s linear infinite;
}
@keyframes btnResizeBig {
    0%{
        transform: scale(.5.5);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.5.5);
    }
}
.close_resizeBig{
    animation: closeResizeBig .3s ease-in forwards;
}
@keyframes closeResizeBig {
    0%{
        transform: scale(1);
        top: 2rem;
        left: 0;
    }
    100%{
        transform: scale(0);
        top: 7.5rem;
        left: 2rem;
        display: none;
    }
}
.close_topRight{
    animation: closeTopRight .3s ease-in forwards;
}
@keyframes closeTopRight {
    0%{
        transform: scale(1);
        top: 3rem;
        width:6.1rem;
        height:6.6rem;
        opacity:1;
    }
    100%{
        transform: scale(0);
        top: -3.5rem;
        right: 0rem;
        opacity:0;
        display: none;
    }
}
.gift-resizeBig{
    animation: giftResizeBig .5s linear infinite;
}
@keyframes giftResizeBig {
    0%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(.8);
    }
}
/*动画延迟*/
body .delay400 { animation-delay:.4s;}
body .delay700 { animation-delay:.7s;}
body .delay1000 { animation-delay:1s;}
body .delay3000 { animation-delay:3s;}
/*从右向左 动画*/
.moveFromRight{
    animation: moveFromRight .3s ease both;
}
@keyframes moveFromRight {
    0%{ transform:translateX(200%);}

}
/*从左上角到右下*/
.moveFromTopLeft{
    animation: moveFromTopLeft 5s linear forwards;
}
@keyframes moveFromTopLeft {
    0%{
        right: 6.5rem;
        top: 0rem;

    }
    10%{
        right: 4.5rem;
        top: 2rem;
    }
    20%{
        right: 6rem;
        top: 3rem;
    }
    30%{
        right: 4rem;
        top: 4rem;
    }
    40%{
        right: 5rem;
        top: 6rem;
    }
    50%{
        right: 2.5rem;
        top: 7rem;
    }
    60%{
        right: 3rem;
        top: 8rem;
    }
    70%{
        right: 1.5rem;
        top: 9rem;
    }
    80%{
        right: 2rem;
        top: 9.4rem;
    }
    90%{
        right: .5rem;
        top: 10rem;
    }
    100%{
        right: .05rem;
        top: 10.5rem;
    }
}
/*从下到上 动画*/
.moveFromBottom{
    animation: moveFromBottom .3s ease both;
}
@keyframes moveFromBottom {
    0%{
        transform:translateY(0);
    }

}
.moveFromBottomLine{
    animation: moveFromBottomLine .3s ease both;
}
@keyframes moveFromBottomLine {
    0%{
        height: 0;
    }
    100%{
        height: 0.94rem;
    }
}
.moveFromBottomLineHeight{
    animation: moveFromBottomLineHeight .3s ease both;
}
@keyframes moveFromBottomLineHeight {
    0%{
        height:0.94rem;
    }
    100%{
        height: 1.2rem;
    }
}
.moveFromBottomLineFinish{
    animation: moveFromBottomLineFinish .3s ease both;
}
@keyframes moveFromBottomLineFinish {
    0%{
        height:1.2rem;
    }
    100%{
        height: 2.1rem;
    }
}
.moveFromBottomIconFinish{
    animation: moveFromBottomIconFinish .3s ease both;
}
@keyframes moveFromBottomIconFinish {
    0%{
        height:1.2rem;
    }
    100%{
        height: 2.06rem;
        opacity: 0;
    }
}
/*需要添加动画的悬浮样式开始*/
.active-right-tip{
    position: absolute;
    right: .07rem;
    top: 4.84rem;
    z-index: 1002;
}
.active-right-tip .tip-left-info{
    font-size: .2rem;
    color: #ffffff;
    width: .24rem;
    text-align: center;
    float: left;
    margin-top: .26rem;
    line-height: 14px;
}
.active-right-tip .tip-left-info span{
    color: #147d37;
}
.active-right-tip .tip-right{
    margin-left: .3rem;
    position: relative;
    height: 2.32rem;
    width: .22rem;
}
.active-right-tip .right-icon-gift{
    width: .24rem;
    height: .24rem;
    position: absolute;
    top: 0;
}
.active-right-tip .right-progress-unfinished{
    height: 2.06rem;
    width: .1rem;
    background-color: #ffffff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: .22rem;
    left: .065rem;
}
.active-right-tip .right-progress-finished{
    background:linear-gradient(to
    top,#faea3b,#f95f34,#ff0000);
    height: 0.94rem;
    width: .1rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    bottom: 0;
    left: .06rem;
}
.active-right-tip .icon-rocket{
    position: absolute;
    top: -0.4rem;
    left: -4px;
    height: .5rem;
    width: .24rem;
}
/*新加入的火箭穿过转盘的动画效果*/
.rocket{
    position: absolute;
    top: 10.5rem;
    left: 0;
    z-index: 1300;
}
.rocket-animation{
    animation: rocket-animation 3s ease both;
}
@keyframes rocket-animation {
    0%{
        top: 10.5rem;
        left: 0;
    }
    10%{
        top: 10rem;
        left: 1rem;
        transform: rotate(50deg);
    }
    90%{
        top: 8rem;
        left: 6.5rem;
        transform: rotate(50deg);
        opacity: 1;
    }
    100%{
        top: 7rem;
        left: 7rem;
        transform: rotate(0deg);
        opacity: 0;
    }
}



/* 活动规则 */
.modal-box-rules {
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 6.7rem;
    height: 6.24rem;
    margin-left: -3.35rem;
    z-index: 1004;
    background: #34ac5c;
}
.modal-box-rules:before {
    position: absolute;
    top: .08rem;
    left: .08rem;
    width: 6.5rem;
    height: 6.08rem;
    background: url("../images/modal-box-border.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.modal-box-content {
    position: relative;
    padding: .3rem;
    z-index: 1005;
}

.modal-box-title:before {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 2.98rem;
    height: 1px;
    background: #fff;
    content: '';
}
.modal-box-title {
    position: relative;
    width: 2.98rem;
    margin: 0 auto .2rem;
    font-size: .28rem;
    color: #ffffff;
    text-align: center;
}
.modal-box-title p {
    position: relative;
    width: 1.4rem;
    margin: 0 auto;
    background: #34ac5c;
}
.detail-item ul li {
    height: .4rem;
    line-height: .4rem;
    list-style-type: none;
}
.detail-item ul li span {
    width: .26rem;
    height: .26rem;
    line-height: .26rem;
    border: 1px solid #fdf4bd;
    border-radius: 50%;
    color: #fdf4bd;
    display: inline-block;
    text-align: center;
    margin-right: .04rem;
}
.detail-item {
    font-size: .24rem;
    color: #fdf4bd;
    margin-bottom: .4rem;
}
.modal-box-close {
    position: absolute;
    top: -.85rem;
    right: 0;
    width: .48rem;
    height: .48rem;
    background: url("../images/redpacket-close.png") center no-repeat;
    background-size: 100%;
    outline: none;
}