/* 公共类*/
.wrap {
	width: 7.5rem;
	margin-left: auto;
  	margin-right: auto;
    background-color: #fef4eb;
}

/*顶部banner*/
.head,
.head img {
  width: 7.5rem;
  height: 3.87rem;
}

.top {

	height: 0.8rem;
}
.top a {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 0.8rem;
	font-size: 0.27rem;
	line-height: 0.8rem;
	color: #fff;
	text-align: center;
	background-color: #ff322d;
}
.top a span {
	font-family: serif;
	padding-right: 0.2rem;
	font-weight: bolder;
}

/*已领取*/
.have-get {
	width: 7rem;
	height: 0.3rem;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.3rem;
	color: #773232;
	border-bottom: 1px dotted #ec452c;
}
.have-get b {
	color: #ff322d;
	display: inline-block;
	-ms-animation-name: tada;
	-webkit-animation-name: tada;
	animation-name: tada;
}
.animated {
	-ms-animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-ms-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-ms-keyframes tada {
	0% {
		-ms-transform: scale(1);
		transform: scale(1)
	}
	10%, 20% {
		-ms-transform: scale(.9) rotate(-9deg);
		transform: scale(.9) rotate(-9deg)
	}
	30%, 50%, 70%, 90% {
		-ms-transform: scale(1.5) rotate(9deg);
		transform: scale(1.5) rotate(9deg)
	}
	40%, 60%, 80% {
		-ms-transform: scale(1.5) rotate(-9deg);
		transform: scale(1.5) rotate(-9deg)
	}
	100% {
		-ms-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0)
	}
}
@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	10%, 20% {
		-webkit-transform: scale(.9) rotate(-9deg);
		transform: scale(.9) rotate(-9deg)
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale(1.5) rotate(9deg);
		transform: scale(1.5) rotate(9deg)
	}
	40%, 60%, 80% {
		-webkit-transform: scale(1.5) rotate(-9deg);
		transform: scale(1.5) rotate(-9deg)
	}
	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0)
	}
}
@keyframes tada {
	0% {
		-webkit-transform: scale(1)
	}
	10%, 20% {
		-webkit-transform: scale(.9) rotate(-9deg)
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale(1.5) rotate(9deg)
	}
	40%, 60%, 80% {
		-webkit-transform: scale(1.5) rotate(-9deg)
	}
	100% {
		-webkit-transform: scale(1) rotate(0)
	}
}

/*表单*/
.form-title {
	width: 6.3rem;
	height: 0.75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.3rem;
	font-size: 0.28rem;
	line-height: 0.75rem;
	color: #773232;
	background: url('../images/head-bg.2f6262a4f3.png') left center no-repeat;
	background-size: 0.24rem;
}
.form-box {
	width: 6.6rem;
	margin-left: auto;
	margin-right: auto;
}
.form-box ul,
.form-box ul li {
	width: 100%;
	font-size: 0;
}
.form-box ul li {
    height: 0.8rem;
    background: #fff;
    -webkit-border-radius: 0.03rem;
    border-radius: 0.03rem;
    margin-bottom: 0.35rem;
    border: 1px solid #fdd0ab;
}
.form-box ul li.captcha {
	position: relative;
}
.form-box ul li.captcha input[type="button"].send {
	position: absolute;
	top: 50%;
	right: 0.1rem;
	margin-top: -0.36rem;
	width: 1.5rem;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.24rem;
	color: #fdd0ab;
	text-align: center;
	border: 0.01rem solid #fdd0ab;
	background-color: #fff;
	-webkit-appearance: none;
}
.form-box ul li.captcha input[type="button"].send.active {
	color: #fff;
	background-color: #fdd0ab;
}
.form-box ul li.submit {
	background: transparent;
	border: 0;
}
.form-box ul li label {
	display: inline-block;
	width: 1.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.26rem;
	text-align: center;
	color: #773232;
}
.form-box ul li input[type="text"],
.form-box ul li input[type="tel"] {
	width: 4.8rem;
	height: 0.5rem;
	margin-top: 0.1rem;
	padding-left: 0.2rem;
	line-height: 0.5rem;
	font-size: 0.26rem;
	color: #000;
	padding-top: 0.05rem;
	padding-bottom: 0.05rem;
	border-left: 1px solid #fdd0ab;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.form-box ul li a.judge-btn {
	display: block;
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	font-size: 0.38rem;
	text-align: center;
	color: #fff;
	border-radius: 0.4rem;
	background-color: #ccc;
}
.form-box ul li a.judge-btn.active {
	background-color: #ff322d;
}
.form-box .note {
	font-size: 0.2rem;
	color: #773232;
}
.form-box .agree-box {
	padding-top: 0.2rem;
	padding-bottom: 0.5rem;
	font-size: 0.2rem;
}
.form-box .agree-box .agreen-btn {
	width: 0;
	height: 0;
	opacity: 0;
}
.form-box .agree-box label {
	display: inline-block;
	padding-left: 0.3rem;
	color: #773232;
	background-image: url(../images/checkbox.6b79c98440.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 0.22rem;
}
.form-box .agree-box input:checked + label {
	background-image: url(../images/checkbox-checked.c4ea6c6335.png);
}
.form-box .agree-box span {
	color: #ff322d;
}
.out-note {
	font-size: 0.2rem;
	color: #773232;
	line-height: 0.8rem;
	background-color: #fef4eb;
	width: 6.7rem;
	padding-left:0.4rem;
	padding-right:0.4rem;
	margin: 0 auto;
}
.out-note a {
	color: #ff322d;
}

/*性别+生日*/

.form-box .name-item-box {
	position: relative;
}
.form-box .name-item-box .sex-box {
	position: absolute;
	top: 0.1rem;
	right: 0.2rem;
	width: 1.5rem;
	height: 0.6rem;
	overflow: hidden;
}
.form-box .name-item-box .sex-box input[type="radio"] {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.form-box .name-item-box .sex-box label {
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	font-size: 0.28rem;
	color: #6f2627;
	text-align: center;
	line-height: 0.6rem;
	background-color: #fff;
	border: 1px solid #fdd0ab;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.form-box .name-item-box .sex-box .mr30 {
	margin-right: 0.3rem;
}

.form-box .name-item-box .sex-box input:checked + label {
	background-color: #fdd0ab;
}

.form-box li input[name="birth"] {
	background: url(../images/wap_down_arrow.png) no-repeat 4.4rem center;
	background-size: 0.34rem;
}

.insurance-title {
	position: relative;
	width: 7rem;
	height: 0.4rem;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dashed #fdc99f;
}
.insurance-title span {
	position: absolute;
	left: 50%;
	top: -0.21rem;
	margin-left: -1.3rem;
	display: block;
	width: 2.6rem;
	height: 0.42rem;
	line-height: 0.42rem;
	font-size: 0.3rem;
	text-align: center;
	color: #773232;
	background-color: #fef4eb;
}
.insurance-title span:before,
.insurance-title span:after {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	background-color: #fdc99f;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
}
.insurance-title span:before {
	left: 2px;
}
.insurance-title span:after {
	right: 2px;
}

.table-box {
	width: 6.8rem;
	margin-left: auto;
	margin-right: auto;
}
.table-box .period-age {
	color: #9a5f55;
	font-size: 0.24rem;
	padding-bottom: 0.35rem;
}
.table-box table {
	width: 100%;
	color: #6f2627;
	border-collapse: collapse;
	border: 1px solid #fdc99f;
}
.table-box table tr td:first-child {
	width: 70%;
}
.table-box table tr td:last-child {
	width: 30%;
}

.table-box table td {
	padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  	line-height: 0.36rem;
	border: 1px dashed #fdc99f;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.table-box table thead td {
	font-size: 0.3rem;
	text-align: center;
	background-color: #fff9f2;
	border: 1px solid #fdc99f;
}
.table-box table tbody td {
	font-size: 0.24rem;
	text-align: left;
	padding-left: 0.4rem;
	background-color: #fff;
}

/*多种保险*/
.insurances-box {
	width: 6.7rem;
	padding-bottom: .3rem;
	margin: 0 auto;
	border-radius: .1rem;
	background-color: #ffffff;
	overflow: hidden;
}
.insurances-box .logos-top {
	width: 100%;
	height: .9rem;
	background-color: #fbdec7;
}
.insurances-box .logos-top>a {
	display: block;
	float: left;
	height: .9rem;
	background-image: url(../images/wap_tab_logos.png);
	background-repeat: no-repeat;
	background-size: 6.7rem;
}
.insurances-box .logos-top>a.active  {
	background-color: #ffffff;
}
.insurances-box .logos-top>a:nth-child(1) {
	width: 1.26rem;
	background-position: 0 top;
}
.insurances-box .logos-top>a:nth-child(2) {
	width: 1.07rem;
	background-position: -1.26rem top;
}
.insurances-box .logos-top>a:nth-child(3) {
	width: 1.23rem;
	background-position: -2.33rem top;
}
.insurances-box .logos-top>a:nth-child(4) {
	width: 1.64rem;
	background-position: -3.56rem top;
}
.insurances-box .logos-top>a:nth-child(5) {
	width: 1.5rem;
	background-position: -5.2rem top;
}
.insurances-box .logos-top>a.active:nth-child(1) {
	background-position: 0 bottom;
}
.insurances-box .logos-top>a.active:nth-child(2) {
	background-position: -1.26rem bottom;
}
.insurances-box .logos-top>a.active:nth-child(3) {
	background-position: -2.33rem bottom;
}
.insurances-box .logos-top>a.active:nth-child(4) {
	background-position: -3.56rem bottom;
}
.insurances-box .logos-top>a.active:nth-child(5) {
	background-position: -5.2rem bottom;
}
.insurances-box .insurance-items-box {
	position: relative;
	width: 6.1rem;
	margin: 0 auto;
}
.insurances-box .insurance-items-box:after {
	position: absolute;
	right: -.2rem;
	top: -.05rem;
	display: block;
	content: "";
	width: .8rem;
	height: .95rem;
	background: url(../images/wap_corner_ico.png) center no-repeat;
	background-size: .8rem;
}
.insurances-box .insurance-items-box .item-box {
	display: none;
	font-size: 0;
}
.insurances-box .insurance-items-box .item-box.active {
	display: block;
}
.insurances-box .insurance-items-box .item-box .title {
	padding-top: .3rem;
	padding-bottom: .3rem;
	font-size: .32rem;
	color: #6f2627;
	line-height: .32rem;
	text-align: center;
}
.insurances-box .insurance-items-box .item-box table {
	width: 100%;
	color: #6f2627;
	border: .02rem solid #fdc99f;
	border-spacing: 0;
}
.insurances-box .insurance-items-box .item-box td {
	padding: .18rem .3rem;
	font-size: .28rem;
	line-height: .32rem;
	text-align: left;
	border: 0;
	box-sizing: border-box;
}
.insurances-box .insurance-items-box .item-box thead {
	background-color:#fffcf2;
}
.insurances-box .insurance-items-box .item-box thead tr td {
	padding: 0;
	font-size: 0;
	border-bottom: .02rem solid #fdc99f;
}
.insurances-box .insurance-items-box .item-box thead tr td span {
	display: inline-block;
	padding: .18rem .3rem;
	font-size: .28rem;
	line-height: .32rem;
	text-align: left;
}
.insurances-box .insurance-items-box .item-box thead tr td span:last-child {
	padding-left: 0rem;
	padding-right: 0rem;
}
.insurances-box .insurance-items-box .item-box table tbody td {
	background-color: #fff;
	border-bottom: .02rem dashed #fdc99f;
}
.insurances-box .insurance-items-box .item-box table tbody tr td:first-child {
	width: 70%;
	border-right: .02rem dashed #fdc99f;
}
.insurances-box .insurance-items-box .item-box table tbody tr td:last-child {
	width: 30%;
}
.insurances-box .insurance-items-box .item-box table tbody tr:last-child td:first-child {
	border-bottom: 0
}
.insurances-box .insurance-items-box .item-box table tbody tr:last-child td:last-child {
	border-bottom: 0;
}

.footer {
	position: relative;
	height: 1.67rem;
	padding-top: 0.3rem;
	background: url(../images/bg-foot-wap.d3edcd70b7.png) no-repeat bottom center;
	background-size: 7.5rem;
}
.footer a {
	position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.95rem;
  font-size: 0.34rem;
  line-height: 0.95rem;
  color: #fff;
  text-align: center;
  background-color: #f86e65;
}
.footer a span {
	font-family: serif;
  padding-right: 0.2rem;
  font-weight: bolder;
}

.mask {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	filter:Alpha(opacity=50);
	display: none;
}
.popup-box {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -3.35rem;
	margin-left: -3.3rem;
	width: 6rem;
	height: 6.1rem;
	padding: 0.3rem;
	overflow: hidden;
	background-color: #fef4eb;
	display: none;
}
.popup-box .popup-close-btn.popup-msg-close {
	position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/wap_close_ico.png) center no-repeat;
    background-size: 0.32rem;
}
.popup-box .popup-title {
	padding-bottom: 0.3rem;
	font-size: 0.28rem;
    color: #ff631e;
    font-weight: bold;
}
.popup-box .popup-msg {
	height: 5.6rem;
	overflow-y: scroll;
	font-size: 0;
}
.popup-box .popup-msg p {
	font-size: 0.24rem;
    line-height: 0.32rem;
    color: #863300;
}
.popup-box .popup-msg.activity-rules-msg {
	padding-left: 0.3rem;
}
.popup-box .popup-msg.activity-rules-msg p {
	position: relative;
}
.popup-box .popup-msg.activity-rules-msg p span {
	position: absolute;
	left: -0.3rem;
	top: 0;
}

/* 验证码弹窗*/
.captcha-box {
  position: absolute;
  left: 50%;
  top: 1.2rem;
  margin-left: -3.2rem;
  width: 6.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: #fff;
  -webkit-border-radius: 0.1rem;
  border-radius: 0.1rem;
  z-index: 50;
  display: none;
}
.captcha-box .captcha-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.6rem;
  height: 0.6rem;
  background: url(../images/wap_captcha-box_close.png?v=1.0.0) center no-repeat;
  background-size: 0.56rem;
}
.captcha-box .captcha-title {
  line-height: 0.32rem;
  font-size: 0.32rem;
  text-align: center;
  color: #292929;
}
.captcha-box .captcha-text {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}
.captcha-box .captcha-text .text {
  line-height: 0.28rem;
  font-size: 0.28rem;
  color: #757575;
}
.captcha-box .captcha-text .send {
  font-size: 0.28rem;
  color: #ff5353;
  text-decoration: underline;
  background-color: transparent;
  -webkit-appearance: none;
}
.captcha-box .captcha-num-box {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.captcha-box .captcha-num-box .input-captcha-item {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  font-size: 0.28rem;
  color: #292929;
  line-height: 1rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d7d8da;
}
.captcha-box .captcha-num-box .input-captcha-item:last-child {
  margin-right: 0;
}
.keyboard-box {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-left: -3.75rem;
  width: 7.5rem;
  z-index: 50;
  background-color: #fff;
  display: none;
}
.keyboard-box table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.keyboard-box table td {
  width: 33.33%;
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 0.52rem;
  color: #000;
  text-align: center;
  border: 0.02rem solid #b7b7b7;
}
.keyboard-box table td:active {
  background-color: #d1d5de;
}
.keyboard-box table td.bg-col {
  background-color: #d1d5de;
}
.keyboard-box table td.border-top {
  border-top: 0;
}
.keyboard-box table td.border-bottom {
  border-bottom: 0;
}
.keyboard-box table td.border-left {
  border-left: 0;
}
.keyboard-box table td.border-right {
  border-right: 0;
}
.keyboard-box table td.del {
  background: url(../images/wap_keyboard_del.png?v=1.0.0) #d1d5de center no-repeat;
  background-size: 0.48rem;
}

/*弹窗身份证*/
.popup-idcard-box {
	position: absolute;
	width: 6.1rem;
	top: 170px;
	left: 50%;
	margin-left: -3.05rem;
	padding-bottom: 0.9rem;
	display: none;
}
.popup-idcard-box .idcard-inner-box {
	font-size: 0;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	-webkit-border-radius: 0.1rem;
			border-radius: 0.1rem;
	background-color: #fff;
}
.popup-idcard-box .idcard-inner-box .item-msg>p {
	font-size: 0.32rem;
	line-height: 0.46rem;
	color: #6f2627;
	text-align: center;
}
.popup-idcard-box .idcard-inner-box .item-msg {
	padding-bottom: 0.6rem;
}
.popup-idcard-box .idcard-inner-box .popup-input-box {
	width: 5.3rem;
	height: 0.4rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.4rem;
	font-size: 0;
	-webkit-border-radius: 0.8rem;
			border-radius: 0.8rem;
	border: 1px solid #fdc99f;
}
.popup-idcard-box .idcard-inner-box .popup-input-box>input {
	display: block;
	width: 5rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 0.4rem;
	font-size: 0.28rem;
	color: #000;
	text-align: center;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
}
.popup-idcard-box .idcard-inner-box>input:focus {
	background: transparent;
}
.popup-idcard-box .idcard-inner-box .idcard-submit-btn {
	display: block;
	width: 5.3rem;
	height: 0.8rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 0.8rem;
	font-size: 0.28rem;
	color: #fff;
	text-align: center;
	background-color: #ff322d;
	-webkit-border-radius: 0.8rem;
			border-radius: 0.8rem;
}
.popup-idcard-box .idcard-close-btn {
	position: absolute;
	display: block;
	left: 2.7rem;
	bottom: 0;
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	background: url(../images/wap_close_btn.png) no-repeat center;
	background-size: 0.7rem;
}
/*新逻辑弹窗*/
.content{
	width: 6.9rem;
	height: 7rem;
	background-color: #fff;
	position: absolute;
	top: 2.72rem;
	left: 50%;
	z-index: 1000;
	margin-left: -3.45rem;
}
.content .header{
	position: relative;
	border-bottom: 1px dashed #ffe8cd;
	padding: .3rem;
	display: flex;
}
.content .header span{
	font-size: .32rem;
	display: inline-table;

}
.content .header .company-icon{
	width: 1.03rem;
	height: .5rem;
	margin-right: .32rem;
}
.content .header .company-icon img{
	width: 100%;
}
.content .header .close{
	width: .3rem;
	height: .3rem;
	margin-left: .54rem;
}
.content .header .close img{
	width: 100%;
}
.content .detail{
	padding: .24rem .3rem 0 .3rem;
}
.content .detail .detail-info{
	font-size: .24rem;
	color: #c7c7c7;
}
.content .detail .detail-info span:last-child{
	margin-left: .45rem;
}
.content .detail .detail-table{
	margin-top: .24rem;
}
.content .detail table{
	width: 6.3rem;
	text-align: center;
	font-size: .28rem;
	border-collapse:collapse;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
}
.content .detail table th{
	color: #313131;
	font-weight: bold;
	background-color: #fafafa;
	width: 2.1rem;
	height: .8rem;

}
.table-border-left-solid{
	border-left: 1px solid #e2e2e2;
}
.table-border-bottom-solid{
	border-bottom: 1px solid #e2e2e2;
}
.table-border-left-dashed{
	border-left: 1px dashed #f1f1f1;
}
.table-border-bottom-dashed{
	border-bottom: 1px dashed #f1f1f1;
}
.content .detail table th:first-child{
	width: 4.18rem;
}
.table-text-left{
	text-align: left;
	padding-left: .32rem;
}
.content .detail table th:last-child{
	width: 1.8rem;
}
.content .detail table td{
	color: #5f5f5f;
	border: 1px dashed #f1f1f1;
	height: .8rem;
}
.content .detail .detail-btn{
	width: 6.3rem;
	height: .88rem;
	display: flex;
	margin-top: .4rem;
}
.content .detail .detail-btn input{
	width: 100%;
	height: 100%;
	text-align: center;
	color: #ffffff;
	border: none;
	background-color: #ff4214;
	font-size: .32rem;
	border-radius: 4px;
	box-shadow: 0.01rem 0.1rem 0.2rem #ffc9c9;
}
.content .detail .detail-tip{
	font-size: .28rem;
	color: #c7c7c7;
	text-align: center;
	margin-top: .3rem;
}