*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #f0f0f0;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #bfbfbf;
}
input::-moz-placeholder {
    color: #bfbfbf;
}
input:-ms-input-placeholder {
    color: #bfbfbf;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 5.3rem;
    background: url("../images/wap-banner.png") center no-repeat;
    background-size: 100%;
}
.header-logo {
    position: absolute;
    top: .25rem;
    left: .25rem;
    width: .93rem;
    height: .43rem;
    font-size: 0;
}
.header-logo img {
    width: 100%;
}
.header-title {
    position: absolute;
    top: 1.02rem;
    left: 50%;
    width: 6.5rem;
    height: .74rem;
    margin-left: -3.25rem;
    font-size: 0;
}
.header-title img {
    width: 100%;
}
.header-title-info {
    position: absolute;
    top: 1.98rem;
    left: 50%;
    width: 3.98rem;
    height: .54rem;
    line-height: .54rem;
    margin-left: -1.99rem;
    text-align: center;
    font-size: .21rem;
    color: #fff;
    background: linear-gradient( to right , #fd6a00 ,#ff8d00 ,#fd6a00);
    border-radius: .265rem;
}
.header-title-info:after {
    position: absolute;
    right: .33rem;
    bottom: .05rem;
    width: .28rem;
    height: .38rem;
    background: url("../images/wap-banner-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
/* 问卷 */
.questionnaire-box {
    position: relative;
    width: 6.78rem;
    background: #fff;
    padding: .3rem .15rem .3rem .2rem;
    border-radius: .08rem;
    margin: .2rem auto .3rem;
    z-index: 2;
}
.shadow:after {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 7.5rem;
    height: 5.3rem;
    background: url("../images/box-bg.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: 1;
}
.shadow-detail:after {
    top: 0;
}

.questionnaire-content {
    border: 2px solid #ffbc2f;
}
.questionnaire-item .questionnaire-title {
    height: .5rem;
    line-height: .5rem;
    font-size: .21rem;
    color: #fff;
    padding-left: .2rem;
    background: linear-gradient(to bottom, #ffb822, #ffa304);
}
.questionnaire-detail {
    height: 1rem;
    line-height: 1rem;
    padding-left: .16rem;
}
.questionnaire-item .subject-item {
    position: relative;
    font-size: .18rem;
    color: #000000;
    float: left;
    padding-right: .3rem;
    margin-right: .36rem;
}
.questionnaire-item .subject-item:last-child {
    margin-right: 0;
}
.questionnaire-item .subject-item label>em {
    position: absolute;
    display: inline-block;
    top: .36rem;
    right: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url('../images/wap-subject-nochecked.png') no-repeat;
    background-size: 0.22rem;
}
.questionnaire-item .subject-item input:checked + label>em {
    position: absolute;
    top: .32rem;
    right: -.04rem;
    width: .26rem;
    height: .26rem;
    background: url('../images/wap-subject-checked.jpg') no-repeat;
    background-size: .26rem;
}
/* 提交按钮 */
.submit-button {
    width: 6.8rem;
    height: .9rem;
    line-height: .9rem;
    border-radius: .1rem;
    margin-bottom: .3rem;
    display: block;
    color: #fff;
    font-size: .34rem;
    text-align: center;
    background: linear-gradient(to bottom, #fe7e00, #ff0700);
}
/* 保险详情 */
.detail-box {
    position: relative;
    width: 6.74rem;
    padding: .3rem .16rem .3rem .22rem;
    border-radius: .08rem;
    margin: 0 auto .3rem;
    background: #fff;
    z-index: 2;
}
.detail-box-title {
    position: relative;
    width: 6.1rem;
    color: #fe7200;
    font-size: .44rem;
    text-align: center;
    margin: 0 auto;
}
.detail-box-title:before {
    position: absolute;
    top: .14rem;
    left: 0;
    width: .55rem;
    height: .4rem;
    background: url("../images/detail-title-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
    transform: rotate(180deg);
}
.detail-box-title:after {
    position: absolute;
    top: .14rem;
    right: 0;
    width: .55rem;
    height: .4rem;
    background: url("../images/detail-title-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.detail-box-name {
    text-align: center;
    color: #171717;
    font-size: .24rem;
    font-weight: 600;
    margin-top: .22rem;
}
.table {
    border: 1px solid #fe7200;
    border-radius: .1rem;
    font-size: 0;
    overflow: hidden;
    margin-top: .3rem;
}
.table-title {
    height: .57rem;
    padding: 0 .54rem;
    line-height: .57rem;
    background: linear-gradient(to bottom, #ffa06e, #fe5801);
}
.table-title span {
    color: #ffffff;
    font-size: .18rem;
}
.table-content {
    background: #fff;
}
.table-content .table-content-item {
    height: .7rem;
    line-height: .7rem;
    padding-left: .54rem;
    padding-right: .7rem;
}
.table-content .table-content-item span {
    position: relative;
}
.table-content .table-content-item:first-child {
    border-bottom: 1px solid #bbbbbb;
}
.table-content .table-content-item:last-child span:last-child {
    padding-right: .1rem;
}
.table-content span {
    font-size: .2rem;
    color: #000000;
}
.footer-info {
    margin-top: .3rem;
    text-align: center;
    font-size: .12rem;
    color: #777777;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 12;
    display: none;
}
.mask-forward {
    z-index: 10;
}
/* 弹出窗 */
.modal-box {
    position: fixed;
    top: 3.58rem;
    left: 50%;
    width: 6.8rem;
    margin-left: -3.55rem   ;
    border-radius: .08rem;
    background: #fff;
    padding: .32rem .12rem .3rem .18rem;
    z-index: 11;
}
/* 表单 */
form img {
    width: 100%;
    vertical-align: middle;
}
.form-detail {
    width: 6.3rem;
    margin: 0 auto;
}
.input-box {
    position: relative;
    height: .4rem;
    line-height: .4rem;
    padding: .3rem 0;
    border-bottom: 1px solid #dfe4ea;
}
.input-box .left-box {
    font-size: 0;
}
.input-box .right-box {
    height: .4rem;
    line-height: .4rem;
    margin-left: .34rem;
    font-size: 0;
}
.input-box .right-box .input-text {
    width: 5.5rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .21rem;
    color: #999999;
}
.icon-name {
    width: .32rem;
}
.icon-mobile {
    width: .32rem;
    height: .4rem;
}
.icon-captcha {
    width: .32rem;
    height: .36rem;
}
.icon-idCard {
    width: .4rem;
    height: .3rem;
}
/* 验证码 */
.box-right {
    position: absolute;
    top: .12rem;
    right: 0;
    width: 2rem;
    height: .72rem;
    background: #ffb41c;
    color: #fff;
    font-size: .21rem;
    border-radius: .36rem;
}
.box-right .send {
    width: 100%;
    height: .72rem;
    line-height: .72rem;
    display: block;
    color: #fff;
    font-size: .28rem;
}
/* 表单同意 */
.form-box .agree-box {
    width: 6.2rem;
    margin: .2rem auto;
    font-size: .14rem;
    color: #000000;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.9rem;
    padding-left: .3rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    display: inline-block;
    top: .06rem;
    left: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url('../images/wap-subject-nochecked.png') no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box input:checked + label>em {
    background: url('../images/wap-subject-checked.jpg') no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box label a{
    color: #fe7200;
    text-decoration: none;
}
.form-submit-button {
    width: 6.8rem;
    margin-bottom: 0;
}
/* 性别 */
.sex-box {
    position: absolute;
    right: 0;
    width: 2rem;
    font-size: 0;
}
.sex-box .sex-item {
    position: relative;
    width: .7rem;
    height: .3rem;
    line-height: .3rem;
    float: left;
    margin-right: .5rem;
}
.sex-box .sex-item:last-child {
    margin-right: 0;
}
.sex-box label {
    height: 100%;
    display: inline-block;
    color: #303030;
    font-size: .21rem;
    padding-left: .48rem;
}
.sex-box .sex-item label>em {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    background: url('../images/sex-nochecked.png') no-repeat;
    background-size: .3rem;
}
.sex-box .sex-item input:checked + label>em {
    position: absolute;
    top: 0rem;
    left: 0;
    width: .3rem;
    height: .3rem;
    background: url('../images/sex-checked.png') no-repeat;
    background-size: .3rem;
}
.wap-form-close {
    position: absolute;
    left: 50%;
    bottom: -1.32rem;
    width: .92rem;
    height: .92rem;
    margin-left: -.46rem;
    background: url("../images/wap-form-close.png") center no-repeat;
    background-size: 100%;
}
/* 弹窗样式 */
.modal{
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 6.9rem;
    margin-left: -3.75rem;
    display: none;
    z-index: 13;
    background: #fff;
}
.modal.rules.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.modal.rules>h3 {
    position: relative;
    height: .9rem;
    padding-left: .3rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #13b777;
    background-color: #f3f3f3
}
.modal.rules>h3>a {
    position: absolute;
    top: 0;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    background:url(../images/wap-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal.rules .content {
    height: 5.5rem;
    padding: .3rem;
    overflow-y: scroll;
}
.modal.rules .content>p {
    line-height: .48rem;
    font-size: .24rem;
    color: #8e8e8e;
}
.hot-icon:before {
    position: absolute;
    top: -.05rem;
    left: -.4rem;
    width: .32rem;
    height: .32rem;
    background: url("../images/hot-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}