@charset "UTF-8";
a, img, input {
    border: none
}

.hover-delay, a, body, button, input, textarea {
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, Lucida, Verdana, SimSun, Helvetica, sans-serif
}

._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a, .clear {
    clear: both
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none
}

body {
    font-size: 14px;
    background-color: #fff
}

.form-wrap .form-input {
    height: inherit !important
}

a, img {
    text-decoration: none
}

a {
    color: #333;
    blr: expression(this.onFocus=this.blur())
}

:focus {
    outline: 0
}

label {
    cursor: pointer
}

img {
    vertical-align: middle
}

table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0
}

h1 {
    font-size: 1.6em
}

h2, h3, h4 {
    font-size: 1.4em
}

h5, h6 {
    font-size: 1.2em
}

textarea {
    overflow: scroll
}

.hover-delay, a, button, input, textarea {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

input.none-radius {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

::-ms-clear {
    display: none
}

::-ms-reveal {
    display: none
}

.txt-indent {
    text-indent: -9999999px;
    overflow: hidden
}

.float-L {
    float: left;
    width: 100%
}

input[type=button], input[type=email], input[type=tel], input[type=text] {
    -webkit-appearance: none;
    box-shadow: none
}

input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
    box-shadow: 0 0 0 60px #fff inset;
    -webkit-text-fill-color: #000
}

.button-animated:active {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    -webkit-box-shadow: 0 0 20px #FFF;
    -moz-box-shadow: 0 0 20px #FFF;
    -o-box-shadow: 0 0 20px #FFF;
    box-shadow: 0 0 20px #FFF
}

@media all and (min-width: 1920px) {
    .wrapper {
        width: 1920px;
        margin: 0 auto
    }
}

._5b2340bf-2269-4ad4-b22b-57318d177bbc ._846eaca9-edc0-41a2-93bb-753073437dc7 .inside {
    margin: 0 auto
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .form-wrap .form-input {
    height: auto
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner, ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .section {
    float: left;
    width: 100%
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .inside {
    width: 1000px;
    margin: 0 auto
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner, ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .inside {
    height: 500px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner {
    background: url(//source.vipabc.com/ext/lpgs/vipjr/POaJVcyIYS/9a9703f4dc925c94250ee19a608997fd.png) center center no-repeat;
    background-size: cover;
    -ms-behavior: url(css/backgroundsize.min.htc);
    behavior: url(css/backgroundsize.min.htc)
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .inside {
    position: relative
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .topic {
    position: absolute;
    width: 340px;
    top: 160px;
    right: 294px;
    z-index: 10
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap {
    top: 52px;
    border-radius: 12px;
    height: 400px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap h6 {
    font-size: 22px;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 1px;
    color: #fff
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap h3 {
    padding-top: 0;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #f74c4c;
    font-size: 22px;
    line-height: 30px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap li {
    margin-bottom: 20px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap .form-ul li p {
    border-radius: 25px;
    padding-left: 18px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .form-wrap .form-ul li._nation-code-wrap ._short-box {
    width: 20%;
    padding-left: 10px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap .form-ul li._nation-code-wrap ._long-box {
    width: 58%;
    padding-left: 16px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .form-wrap .meg-error {
    right: 5px;
    line-height: 36px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .select_wrap {
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    padding-left: 10px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .select_btn {
    width: 30px;
    height: 30px;
    top: 4px;
    right: 6px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .select_list {
    border-radius: 10px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .select_current {
    height: 40px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap .submit-wrap {
    padding: 18px 0 0;
    margin-bottom: 15px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .form-wrap .form-submit {
    height: 40px;
    line-height: 40px;
    border-radius: 25px
}

._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .select_list dl dd, ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .select_list dl dt {
    font-size: 14px;
    line-height: 29px
}

@media all and (min-width: 1920px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner {
        background-size: contain
    }
}

@media all and (max-width: 1000px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .inside {
        width: 100%
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .form-wrap .form-ul li p {
        padding: 8px 11px
    }
}

@media all and (max-width: 800px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner {
        background: 0 0;
        height: auto
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .inside {
        position: static;
        height: auto
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .mobile-banner {
        position: relative;
        display: block;
        width: 100%;
        height: 350px;
        padding: 0;
        background: url(//source.vipabc.com/ext/lpgs/vipjr/POaJVcyIYS/9a9703f4dc925c94250ee19a608997fd.png) 33% center no-repeat;
        background-size: cover
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .topic {
        width: 35%;
        right: 7%;
        top: 80px
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap {
        position: static;
        width: 90%;
        padding: 0 5%;
        background: 0 0
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap h6 {
        color: #333
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap .free-form-sex dt {
        color: #999
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap .radio_wrap {
        border-color: #8e8f8f
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap .form-private {
        width: 100%;
        padding: 10px 0;
        text-align: right
    }
}

@media all and (max-width: 600px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .mobile-banner {
        height: 370px
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .topic {
        top: 120px;
        right: 4%;
        width: 38%
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap {
        width: 90%;
        padding: 0 5%
    }
}

@media all and (max-width: 450px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner {
        background: 0 0
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .mobile-banner {
        height: 340px;
        background: url(//source.vipabc.com/ext/lpgs/vipjr/POaJVcyIYS/1934e6ade25fe025bb138178e23f1d34.png) center center no-repeat;
        background-size: cover
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .topic {
        display: none
    }
}

@media all and (max-width: 380px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .mobile-banner {
        height: 315px
    }
}

@media all and (max-width: 330px) {
    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .form-wrap h6 {
        padding-top: 20px
    }

    ._985a3ffb-15ca-408e-b02c-46ffa96b6c54 ._76ea4f01-b067-49dd-b2e4-4cb694fd9175 .banner .mobile-banner {
        height: 250px
    }
}

._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a .inside {
    width: 1000px;
    margin: 0 auto
}

@media screen and (max-width: 999px) {
    ._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a .inside {
        width: 100%
    }
}

._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a .section2 img {
    width: 100%
}

._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a .section2 .m-show {
    display: none
}

@media screen and (max-width: 767px) {
    ._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a .section2 .m-show {
        display: block;
        padding: 0 5%
    }

    ._1a0dac2b-c65f-4cc9-b63c-be9c2f1e26cb ._a97eedd2-1eef-4345-8e74-9967c599be4a .section2 .pc-show {
        display: none
    }
}

._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section {
    float: left;
    width: 100%
}

._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .inside {
    width: 1000px;
    margin: 0 auto
}

._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .bg_color {
    background-color: #f5f5f5
}

._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 {
    padding: 0 0 57px
}

._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap {
    width: 74%;
    margin: 0 13%;
    height: 433px
}

._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap .video-js {
    width: 740px;
    height: 433px
}

@media all and (max-width: 1000px) {
    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .inside {
        width: 100%
    }

    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section {
        width: 90%;
        padding-right: 5%;
        padding-left: 5%
    }
}

@media all and (max-width: 800px) {
    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap {
        height: 333px
    }

    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap .video-js {
        width: 100%;
        height: 100%
    }

    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 h4 {
        padding-top: 30px
    }
}

@media all and (max-width: 550px) {
    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 h4 {
        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 18px
    }

    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap .video-js {
        width: 100%;
        height: 100%
    }

    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap {
        width: 80%;
        margin: 0 10%;
        height: 174px
    }
}

@media all and (max-width: 380px) {
    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap {
        height: 160px
    }
}

@media all and (max-width: 330px) {
    ._8f276914-2443-430b-b2c5-c2202d1e89da ._9fe1c59c-4a81-40d3-9360-790cb69de017 .section2 .video-wrap {
        height: 135px
    }
}

._01fde46f-ca96-4aca-8c05-0720d871a309 ._0481f798-a014-44d3-acbf-d9e12495aef0 .section-button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center
}

._01fde46f-ca96-4aca-8c05-0720d871a309 ._0481f798-a014-44d3-acbf-d9e12495aef0 .section-button button {
    padding: 10px 50px;
    background-color: #f74c4c;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    cursor: pointer
}

._01fde46f-ca96-4aca-8c05-0720d871a309 ._0481f798-a014-44d3-acbf-d9e12495aef0 .section-button button:hover {
    background-color: #e60012
}
.video-js {
    width: 300px;
    height: 150px;
}

.vjs-fluid {
    padding-top: 56.25%
}

.vjs_video_3-dimensions {
  width: 100px;
  height: 100px;
}

.vjs_video_3-dimensions.vjs-fluid {
    padding-top: 56.25%;
}