@charset "UTF-8";
a, img, input {
    border: none
}

.hover-delay, a, body, button, input, textarea {
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, Lucida, Verdana, SimSun, Helvetica, sans-serif
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a, ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .clearfix:after, .clear {
    clear: both
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none
}

body {
    font-size: 14px;
    background-color: #fff
}

.form-wrap .form-input {
    height: inherit !important
}

a, img {
    text-decoration: none
}

a {
    color: #333;
    blr: expression(this.onFocus=this.blur())
}

:focus {
    outline: 0
}

label {
    cursor: pointer
}

img {
    vertical-align: middle
}

table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0
}

h1 {
    font-size: 1.6em
}

h2, h3, h4 {
    font-size: 1.4em
}

h5, h6 {
    font-size: 1.2em
}

textarea {
    overflow: scroll
}

.hover-delay, a, button, input, textarea {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

input.none-radius {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

::-ms-clear {
    display: none
}

::-ms-reveal {
    display: none
}

.txt-indent {
    text-indent: -9999999px;
    overflow: hidden
}

.float-L {
    float: left;
    width: 100%
}

input[type=button], input[type=email], input[type=tel], input[type=text] {
    -webkit-appearance: none;
    box-shadow: none
}

input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
    box-shadow: 0 0 0 60px #fff inset;
    -webkit-text-fill-color: #000
}

.button-animated:active {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    -webkit-box-shadow: 0 0 20px #FFF;
    -moz-box-shadow: 0 0 20px #FFF;
    -o-box-shadow: 0 0 20px #FFF;
    box-shadow: 0 0 20px #FFF
}

@media all and (min-width: 1920px) {
    .wrapper {
        width: 1920px;
        margin: 0 auto
    }
}

._5e206094-6095-400e-93ac-04becb502c12 ._846eaca9-edc0-41a2-93bb-753073437dc7 .inside {
    margin: 0 auto
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess {
    position: relative;
    padding: 200px 0 20px;
    min-height: 400px
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .hide {
    display: none
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .show {
    display: block
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .clearfix:after, ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .clearfix:before {
    display: table;
    line-height: 0;
    content: ""
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a input::-webkit-input-placeholder {
    font-size: 14px;
    color: #c6c6c6
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a input:-moz-placeholder {
    font-size: 14px;
    color: #c6c6c6
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a input::-moz-placeholder {
    font-size: 14px;
    color: #c6c6c6
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a input:-ms-input-placeholder {
    font-size: 14px;
    color: #c6c6c6
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 25px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .mascot {
    text-align: center;
    margin-bottom: 20px
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .mascot img {
    width: 220px;
    vertical-align: middle
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group {
    margin-top: 28px;
    text-align: center
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group .btn {
    display: inline-block;
    height: 50px;
    width: 80%;
    max-width: 360px;
    border-radius: 50px;
    line-height: 50px;
    outline: 0;
    background-color: #ff4b59;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ff4b59;
    margin-left: 20px
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group .btn-default {
    color: #ff4b49;
    background-color: #fff
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group .btn.btn-primary {
    display: none
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group .btn.btn-primary.active {
    display: inline-block
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group .btn:first-child {
    margin-left: 0
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .nav-group {
    margin-top: 25px;
    font-size: 16px;
    color: #ff4b59;
    line-height: .75;
    text-align: center
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .nav-group a {
    color: inherit
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section p {
    text-align: center
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .success-text {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .success-text span {
    font-size: 26px;
    color: #ff4b59;
    font-weight: 600
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .success-reminder {
    font-size: 14px;
    color: #333;
    line-height: 1.57;
    margin-bottom: 20px
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 670px;
    margin-left: auto;
    margin-right: auto
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .qrcode-img {
    font-size: 0;
    text-align: center
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .download {
    width: 330px;
    display: inline-block;
    margin-right: 10px
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .qrcode {
    width: 330px;
    display: inline-block
}

._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .flow {
    width: 100%;
    display: none
}

@media screen and (max-width: 750px) {
    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess {
        padding: 0;
        min-height: 390px;
        box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .1)
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section {
        width: 100%;
        padding: 105px 0 0;
        margin-bottom: 20px;
        border-radius: 0;
        box-shadow: none
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group {
        margin-top: 22px
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload {
        width: 100%
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .btn-download {
        position: fixed;
        bottom: 0;
        width: 100%
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .download {
        display: none
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .qrcode {
        width: 88%;
        margin-bottom: 30%
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-appdownload .flow {
        display: block
    }

    ._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer {
        display: none
    }
}

@media screen and (max-width: 360px) {
    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .success-text {
        font-size: 16px
    }

    ._bac8c7b5-44cf-4797-b788-d6883148f5d0 ._6f5e8f31-cbe8-4cc2-8534-e66771a0b85a .v-jr-regsuccess .inner-section .btn-group .btn {
        height: 38px;
        line-height: 38px;
        margin-left: 12px;
        font-size: 14px
    }
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer {
    padding: 26px 0 34px;
    background-color: #505050;
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-center {
    width: 1000px;
    min-width: 1000px;
    margin: auto
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links {
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    text-align: center
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links a {
    padding-right: 35px;
    color: #c1c1c1
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links a:hover {
    color: #fff
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links a .tel {
    width: 13px
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links a._separator {
    padding-right: 30px
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links a._last {
    padding-right: 0
}

._a91b2043-ac03-4d07-8f33-1d828a285312 ._f71abd26-797d-424a-b5d3-6063dd093b32 .v-jr-footer ._self-links span {
    padding-right: 30px;
    position: relative;
    top: -2px;
    color: #6d6d6d
}
body {
    background-color: #f5f5f5;
}

body .lp-header-init .lp-header-init-tel {
    display: none;
}

body .lp-header-init .lp-header-init-mobile-tel {
    display: none !important;
}

@media (min-width: 1920px) {
    .wrapper {
        width: auto;
    }
}

@media (max-width: 750px) {
    body {
        background-color: #fff;
    }

    .lp-header-init {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }
}