html,
body {
    height: 100%;
    background: #1ed6c3;
}
/* 头部 */
.head {
    position: relative;
    width: 7.1rem;
    height: 2.05rem;
    font-size: 0;
    box-sizing: border-box;
}
.head-img {
    position: absolute;
    top: .3rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #8beae0;
}
.head h2,
.head h3 {
    margin-left: 1.4rem;
    color: #fff;
}
.head h2 {
    padding-top: .38rem;
    font-size: .38rem;
    margin-bottom: .14rem;
}
.head h3 {
    font-size: .28rem;
}
.head h3 span {
    color: #fdff65;
}
/* 保障详情 */
.insurance-detail {
    width: 7.1rem;
    margin: 0 auto;
    background: #fff;
    border-radius: .2rem;
    padding: .36rem .4rem;
    box-sizing: border-box;
}
.insurance-detail h2 {
    position: relative;
    color: #333333;
    font-size: .38rem;
    font-weight: bold;
    margin-bottom: .2rem;
}
.insurance-detail h2 span {
    position: relative;
    z-index: 2;
}
.insurance-detail h2:after {
    position: absolute;
    left: 0;
    bottom: -.07rem;
    width: 3.78rem;
    height: .16rem;
    background: #bbf3ed;
    content: '';
    z-index: 1;
}
.insurance-detail p {
    line-height: .46rem;
    color: #000000;
    font-size: .28rem;
}
.insurance-detail p span {
    width: 1.7rem;
    color: #999999;
    font-size: .28rem;
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
}

/* 问题 */
/* 公用部分 */
.section {
    position: relative;
    width: 7.1rem;
    margin: 0 auto;
}
.section h2 {
    height: .84rem;
    line-height: .84rem;
    color: #ffffff;
    font-size: .32rem;
    font-weight: bold;
}
.section .question-bg {
    width: 7.1rem;
    background: #aae8e5;
    border-radius: .2rem;
    padding: .1rem;
    box-sizing: border-box;
}
.section .question-content {
    width: 6.9rem;
    margin: 0 auto;
    padding: .34rem .3rem .5rem;
    background: #fff;
    border-radius: .14rem;
    box-sizing: border-box;
}
.protect-question-box h3 {
    width: 6.3rem;
    color: #444444;
    font-size: .28rem;
    margin: 0 auto .24rem;
}
.question-content h4 {
    position: relative;
    color: #000000;
    font-size: .32rem;
}
.question-content h4:before {
    position: absolute;
    top: -.4rem;
    right: 0;
    width: 1.31rem;
    height: 1.11rem;
    background: url("../images/protect-title-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.question-content h4 span {
    color: #35ccbd;
}
.question-content img {
    display: block;
}
.protect-img-1 {
    width: 5.76rem;
    height: 1.32rem;
    margin-top: .34rem;
    margin-bottom: .4rem;
}
.protect-img-2 {
    width: 6.47rem;
    height: 1.3rem;
    margin-top: .34rem;
    margin-bottom: .4rem;
}
.protect-other-server {
    width: 6.28rem;
    padding-top: .36rem;
    border-top: 1px solid #e5e5e5;
}
.protect-other-server h5 {
    color: #444444;
    font-size: .28rem;
    margin-bottom: .3rem;
}
.protect-other-money {
    position: relative;
    width: 6.3rem;
    height: 1.43rem;
    border-radius: .14rem;
    margin-bottom: .3rem;
    background: #ddfefb;
}
.protect-other-money img {
    position: absolute;
    top: .3rem;
    left: .4rem;
    width: .86rem;
    height: .86rem;
}
.protect-other-money h6 {
    position: absolute;
    top: .3rem;
    left: 1.54rem;
    color: #4a4a4a;
    font-size: .32rem;
    font-weight: bold;
}
.protect-other-money p {
    position: absolute;
    top: .72rem;
    left: 1.54rem;
    color: #8eaca9;
    font-size: .24rem;
}
.protect-other-money span {
    position: absolute;
    top: .2rem;
    right: 0;
    width: .68rem;
    height: .24rem;
    line-height: .24rem;
    background: #ff9e28;
    color: #ffffff;
    font-size: .2rem;
    text-align: center;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}
.protect-tag-content {
    width: 6.3rem;
    display: flex;
}
.protect-tag-item {
    position: relative;
    width: 2rem;
    height: 3.7rem;
    margin: auto;
    padding: .2rem .28rem;
    box-sizing: border-box;
    border: 1px solid #1fd6c4;
    border-radius: .06rem;
}
.protect-tag-item:before {
    position: absolute;
    top: 0;
    right: 0;
    width: .66rem;
    height: .66rem;
    background: url("../images/bottom-item-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.protect-tag-item img {
    width: .65rem;
    height: .65rem;
    display: block;
    margin: 0 auto .18rem;
}
.protect-tag-item h6 {
    color: #4a4a4a;
    font-size: .32rem;
    text-align: center;
    margin-bottom: .12rem;
}
.protect-tag-item p {
    color: #999999;
    font-size: .24rem;
    text-align: justify;
}
/* 收费 */
.charge-box .question-content,
.show-policy .question-content {
    color: #444444;
    font-size: .28rem;
    padding-bottom: .3rem;
}
.charge-box .question-content p,
.show-policy .question-content p {
    line-height: .46rem;
}
.charge-box .question-content span {
    color: #14bdac;
}
/* 如何查看保单 */
.show-policy h3 {
    position: relative;
    color: #000000;
    font-size: .32rem;
    font-weight: bold;
    padding-left: .4rem;
    margin-bottom: .12rem;
}
.show-policy h3:before {
    position: absolute;
    top: .08rem;
    left: 0;
    width: .25rem;
    height: .3rem;
    background: url("../images/show-policy-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.for-insurance {
    position: relative;
}
.for-insurance:before {
    position: absolute;
    top: 2.4rem;
    left: .12rem;
    width: 6.9rem;
    height: .29rem;
    background: url("../images/for-other-img.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.for-insurance-title {
    color: #000000;
    font-size: .48rem;
    font-weight: bold;
    margin-top: .6rem;
    text-align: center;
}
.for-insurance-title span {
    color: #ffa128;
}
.for-insurance-note {
    color: #999999;
    font-size: .3rem;
    text-align: center;
    margin-top: .16rem;
}
.for-insurance-tag-box {
    width: 5.1rem;
    display: flex;
    flex-direction: row;
    margin: .18rem auto .3rem;
}
.for-insurance-tag-box span {
    display: inline-block;
    padding: .12rem .14rem;
    box-sizing: border-box;
    border: 1px solid #ffa128;
    border-radius: .1rem;
    color: #ffa128;
    font-size: .26rem;
    margin: auto;
}
.url-button {
    width: 3.85rem;
    height: 1.15rem;
    line-height: 1rem;
    background: url("../images/button-bg.png") center no-repeat;
    background-size: 100%;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: .36rem;
    font-weight: bold;
    text-align: center;
}
.fixed-height {
    height: .8rem;
}