*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #fec631;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #bfbfbf;
}
input::-moz-placeholder {
    color: #bfbfbf;
}
input:-ms-input-placeholder {
    color: #bfbfbf;
}
.clear-float:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
.header {
    height: 4.1rem;
    background: url("../images/wap-home-banner.png") center no-repeat;
    background-size: 100%;
}
.header .header-info {
    position: absolute;
    top: 1.8rem;
    left: .2rem;
    width: 4.4rem;
    height: .48rem;
    line-height: .48rem;
    text-align: center;
    border-radius: .4rem;
    font-size: .24rem;
    color: #c12200;
    background: linear-gradient(to right, #ffcf6b, #fff6e4);
}
.header .header-logo {
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: 1.75rem;
    height: .4rem;
    font-size: 0;
}
.header .header-logo img {
    width: 100%;
}
/* 表单主体 */
.content {
    width: 6.7rem;
    margin: .5rem auto .64rem;
}
.content .form-title {
    font-size: .28rem;
    color: #d44c16;
    margin-bottom: .3rem;
}

.form-box {
    font-size: 0;
}
.input-box {
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: .3rem;
    padding: .28rem .3rem;
    background: #fafafb;
}
.input-box .left-box {
    width: 1.4rem;
    height: .44rem;
    line-height: .44rem;
    color: #000000;
    font-size: .34rem;
    float: left;
    border-right: 1px solid #e2e2e2;
    padding-right: .32rem;
    text-align: justify;
    text-align-last: justify;
    overflow: hidden;
}
.input-box .input-text {
    height: .44rem;
    float: left;
    font-size: .3rem;
    line-height: .44rem;
    width: 4rem;
    margin-left: .24rem;
}
/* 性别选项 */
.form-box .input-box .sex-box {
    position: absolute;
    top: .18rem;
    right: .3rem;
    width: 1.43rem;
    height: .6rem;
    overflow: hidden;
}
.form-box .input-box .sex-box input[type="radio"] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.form-box .input-box .sex-box label {
    display: inline-block;
    width: .7rem;
    height: 0.6rem;
    font-size: 0.28rem;
    color: #3c81fd;
    text-align: center;
    line-height: 0.6rem;
    background-color: #fff;
    border: 1px solid #3a90fd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-box .input-box .sex-box label:last-child {
    border-left: none;
}
.form-box .input-box .sex-box input:checked + label {
    color: #fff;
    background: linear-gradient(to bottom, #3c82fd ,#35b3fe);
}
.select-box:before {
    position: absolute;
    top: 0.4rem;
    right: 0.3rem;
    content: "";
    background: url(../images/bottom-arrow-form.png) no-repeat right;
    background-size: 0.29rem;
    width: 0.29rem;
    height: 0.17rem;
    pointer-events: none;
}
.form-submit {
    position: relative;
    width: 6.7rem;
    height: .9rem;
    line-height: .9rem;
    display: block;
    margin: 0 auto;
    border-radius: .4rem;
    text-align: center;
    font-size: .38rem;
    color: #fff;
    background: linear-gradient(to bottom ,#f45d3a ,#f8673e);
    box-shadow: 1px 0.1rem 1px #d52409;
}
.form-tip {
    margin-top: .32rem;
    color: #d44c16;
    font-size: .24rem;
}
/* 同意 */
/*复选框*/
.form-box .agree-box {
    width: 6.7rem;
    margin: .32rem auto 0;
    font-size: .24rem;
    color: #d44c16;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.9rem;
    padding-left: .3rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    display: inline-block;
    top: .06rem;
    left: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url(../images/wap-form-nochecked.png) no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box input:checked + label>em {
    background: url(../images/wap-form-checked.png) no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box label a{
    color: #0018ff;
    text-decoration: none;
}
/* 广告 */
.adv-box {
    width: 6.7rem;
    height: 8rem;
    margin: 0 auto;
    background: url("../images/wap-adv-img.png") center no-repeat;
    background-size: 100%;
}
/* 页底 */
.footer {
    font-size: .2rem;
    color: #d44c16;
    margin: .4rem 0;
    text-align: center;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    display: none;
    z-index: 10;
}
/* 右侧悬浮按钮 */
.fixed-btn {
    position: absolute;
    top: 2.52rem;
    right: .3rem;
    width: .3rem;
    padding: .8rem .15rem .2rem;
    text-align: center;
    background: url(../images/gift-icon.png) #ffe3cc no-repeat center .2rem;
    -webkit-background-size: .42rem .42rem;
    -moz-background-size: .42rem;
    -o-background-size: .42rem;
    background-size: .42rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;
    display: inline-block;
    z-index: 10;
    font-size: 0;
}
.fixed-btn i {
    padding-bottom: 2px;
    font-size: .28rem;
    line-height: .28rem;
    color: #b52000;
    display: inline-block;
    font-style: normal;
}
/* 增险详情+弹窗 */
.modal {
    position: fixed;
    top: 3rem;
    left: 50%;
    width: 6.9rem;
    max-height: 5.1rem;
    margin-left: -3.45rem;
    padding-bottom: .4rem;
    background-color: #fff;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    overflow: hidden;
    display: none;
    z-index: 11;
}
.modal .close-button {
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: .5rem;
    height: .5rem;
    background: url(../images/wap-close-btn.png) center no-repeat;
    -webkit-background-size: .3rem .3rem;
    -moz-background-size: .3rem;
    -o-background-size: .3rem;
    background-size: .3rem;
}
.modal>h3 {
    width: 100%;
    height: .9rem;
    font-size: .32rem;
    line-height: .9rem;
    text-align: center;
    background-color: #ffefe1;
}
.modal.insurance-detail>h3 {
    background: url(../images/wap-insurance-detail-icon.png) #ffefe1 .4rem center no-repeat;
    -webkit-background-size: .72rem .72rem;
    -moz-background-size: .72rem;
    -o-background-size: .72rem;
    background-size: .72rem;
}
.modal .modal-content {
    margin-top: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
    max-height: 4rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
.modal .modal-content .period-age {
    padding: 0 .2rem .25rem;
    font-size: .24rem;
    color: #c7c7c7;
}
.modal .modal-content .period {
    float: left;
}
.modal .modal-content .age {
    float: right;
}
.modal .modal-content .table-box {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.modal .modal-content .table-box table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}
.modal .modal-content .table-box table th,
.modal .modal-content .table-box table td {
    padding: .2rem .3rem;
    font-size: .28rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal .modal-content .table-box table>thead>tr>th:first-child {
    border-right: 1px solid #e2e2e2;
}
.modal .modal-content .table-box table>thead th {
    color: #313131;
    background-color: #fafafa;
    border-bottom: 1px solid #e2e2e2;
}
.modal .modal-content .table-box table>tbody td {
    color: #5f5f5f;
}
.modal .modal-content .table-box table>tbody>tr>td {
    border-bottom: 1px dotted #e2e2e2;
}
.modal .modal-content .table-box table>tbody>tr:last-child>td {
    border-bottom: 0;
}
.modal .modal-content .table-box table>tbody>tr>td:last-child {
    border-left: 1px dotted #e2e2e2;
}

/* 活动规则 */
.modal .modal-content p {
    font-size: .28rem;
    color: #313131;
    line-height: .42rem;
}
