*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: url("../image/card-bg.png") top center no-repeat #4725ef;
    background-size: 100%;
}
.hide{
    display: none;
}
.container{
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.title-info{
    width: 100%;
    position: fixed;
    top: 0;
    background: #0b0b89;
    font-size: .24rem;
    color: #898cff;
    height: .46rem;
    line-height: .46rem;

}
.title-info span img{
    width: .24rem;
    height: .24rem;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: .08rem;
}
.info-icon-close{
    width: .24rem;
    height: .24rem;
    position: absolute;
    right: .2rem;
    top: .1rem;
}
.title-info span{
    color: #2fbdff;
    margin-left: .2rem;
}
.card-title{
    width: 4.8rem;
    height: 1.31rem;
    margin: .68rem auto 0;
}
.card-title img{
    width: 100%;
}
.card-content{
    width: 7.1rem;
    margin: .18rem auto 0;
}
.card-content .card-item{
    width: 3.4rem;
    height: 2.88rem;
    position: relative;
    float: left;
    margin-right: .3rem;
    margin-bottom: .35rem;
}
.card-content .card-item:nth-child(2n){
    margin-right: 0;
}
.card-content .card-item .card-item-back,
.card-content .card-item  .card-item-forward{
    width: 100%;
    height: 100%;
    background: url("../image/card-back.png") top center no-repeat;
    background-size: 100% 100%;
}
.card-content .card-item  .card-item-forward{
    background: url("../image/card-forward.png") top center no-repeat;
}
.card-content .card-item .card-item-back .card-item-back-btn,
.card-content .card-item .card-item-forward .card-item-forward-btn {
    width: 2.4rem;
    height: .51rem;
    background: url("../image/card-btn.png") center no-repeat;
    background-size: 100%;
    display: flex;
    position: absolute;
    bottom: .4rem;
    left: .5rem;
}
.card-content .card-item .card-item-forward .card-item-forward-btn{
    background: url("../image/card-btn-forward.png") center no-repeat ;
    background-size: 100%;
    bottom: -.3rem;
}
.card-content .card-item .card-item-back .card-item-back-btn input,
.card-content .card-item .card-item-forward .card-item-forward-btn input{
    margin: auto;
    border: 0;
    color: #fffdfa;
    font-size: .24rem;
    background: none;
    width: 100%;
    height: 100%;
}
.card-item .card-item-forward .card-item-title{
    font-size: .24rem;
    color: #e35e11;
    text-align: center;
    padding: .12rem 0 .14rem 0;
}
.card-item .card-item-forward  .card-item-img{
    width: 3.26rem;
    height: 1.98rem;
    margin: 0 auto;
}
.card-item .card-item-forward  .card-item-img img{
    width: 100%;
}

.maskLayer{
     position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; z-index:1003; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70)
}
.hb{
    width: 7rem;
    height: 8.45rem;
    z-index: 1100;
    transform: rotateY(180deg);
    transition: all 1s ;
}
.hb .hb_img{
    width: 100%;
    position: absolute;
}
.hb_zj{
    font-size: .4rem;
    color: #d92d3d;
    font-weight: bold;
    position: absolute;
    top: 5.3rem;
    left: 2.17rem;
}
.hb_btn{
    width: 6rem;
    height: 1.04rem;
    position: absolute;
    bottom: 0.84rem;
    left: 0.48rem;
    background: url("../image/hb_btn_03.png")  no-repeat;
    background-size: 100% 100%;
}
.hb_btn input{
    width: 100%;
    font-size: .38rem;
    color: #9c3604;
    border: none;
    background: none;
    height: 100%;
    position: absolute;
    font-weight: bold;
}
.hb_jh{
    position: absolute;
    bottom: .3rem;
    left: 2.4rem;
    font-size: .24rem;
    color: #ffa49b;
}
.hb_close{
    width: .48rem;
    height: .48rem;
    position: absolute;
    right: 0;
    top: -.6rem;
}
.hb .hb_close img{
    width: 100%;
}
.gift-img{
    position: absolute;
    width: 5.8rem;
    height: 3.5rem;
    top: 1.55rem;
    left: .6rem;
}
.mask-box{
    transform-style: preserve-3d;
    transition: all 1s;
    width: 7.1rem;
    height: 8.45rem;
    position: absolute;
    left: 50%;
    margin: 0 auto 0 -3.48rem;
    z-index: 1005;
}
.mask-box .mask-back{

}
.mask-box .mask-back img{
    width: 100%;
}

.mask-item{
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s ;
}
.mask-box .mask-back-click {
    transform: rotateY(180deg);
}
.mask-box .hb-click {
    transform: rotateY(0deg);
}
.beat {
    animation: giftBoxSwing 1s;
}
/*礼盒摆动*/
@keyframes giftBoxSwing {
    12.5%,62.5% {
        transform: rotate3d(20,20,10,10deg);
    }
    0%,25%,50%,75%,100% {
        transform: rotate3d(0,0,0,0)
    }
    37.5%,62.5%,87.5% {
        transform: rotate3d(20,20,10,10deg);
    }
}
.open {
    animation: open 2s ease both;
}
/*礼盒摆动*/
@keyframes open {
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(180deg);
    }
}