<!DOCTYPE Html>
<html style="font-size: 50px;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="{{page_param['keywords']}}" />
    <meta name="description" content="{{page_param['description']}}" />
    <title>{{page_param['title']}}</title>
    <link rel="stylesheet" href="css/wap-home.css" />
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/wap-common.js"></script>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <!-- 头部 -->
    <div class="header wrap"></div>
    <!-- 表单主体 -->
    <div class="content">
        <!-- 剩余 -->
        <div class="have-get-box">
            <div class="title">
                <p id="have-remain-num">
                    已有 <b id="totalNum">1111</b> 人免费领取 剩余 <span>2</span><span>9</span><span>0</span> 份
                </p>
                <div class="rectangle left"></div>
                <div class="rectangle right"></div>
            </div>
        </div>
        <div class="form-content">
            <form class="form-box" id="form-box" method="post">
                <div class="input-box clx">
                    <div class="left-box">您的姓名</div>
                    <input type="text" name="name" placeholder="请输入您的真实姓名" id="name" class="input-text">
                </div>
                <div class="input-box clx">
                    <div class="left-box">手机号码</div>
                    <input type="text" name="mobile" placeholder="手机号码接收保单信息" id="mobile" class="input-text">
                </div>
                <div class="input-box clx">
                    <div class="left-box">身份证号</div>
                    <input type="text" name="idCard" placeholder="您的信息将被严格保密" id="idCard" class="input-text">
                </div>
                <div class="agree-box">
                    <input id="agree-btn" type="checkbox" checked="">
                    <label for="agree-btn">我已阅读并同意</label>
                    <span id="activity-rules-btn">产品条款</span>
                </div>
                <a href="javascript:;" class="form-submit submit-button" id="form-submit">免费领取</a>
            </form>
            <!-- 手机号码滚动 -->
            <div id="phone-box" class="phone-box">
                <ul>
                    <li>手机153****0002的用户已领取50万安全出行保障</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 保障详情 -->
    <div class="insurance-box">
        <h3 class="title">{{page_param['policy_name']}}</h3>
        <div class="corner"></div>
        <table>
            <thead>
            <tr>
                <th colspan="2">
                    <span class="fl">保障期限 : 30天</span>
                    <span class="fr">保障年龄 : 15-20</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>保障内容</td>
                <td>最高保额</td>
            </tr>
            {% for info in page_param['policy_infos'] %}
            <tr>
                <td>{{info['content']}}</td>
                <td>{{info['amount']}}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
    <!-- 页底-->
    <div class="footer">
        {% if page_param.get('banner_type', '') == 'ZG' %}
        <p>版权所有 © 中国人寿保险股份有限公司</p>
        {% elif page_param.get('banner_type', '') == 'TK' %}
        <p>版权所有 © 泰康人寿保险股份有限公司</p>
        {% else %}
        <p>版权所有 © 百年人寿保险股份有限公司</p>
    </div>
</body>
</html>