<!DOCTYPE html>
<html style="font-size: 50px;">
<head>
    <title>{{page_param['title']}}</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="{{page_param['keywords']}}">
    <meta name="description" content="{{page_param['description']}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{ page_param['static_host'] }}/static/js/plugins/lib/jquery-3.2.1.min.js"></script>
    <script src="{{ page_param['static_host'] }}/static/js/plugins/base/wap-base.js"></script>
    <link rel="stylesheet" href="{{ page_param['static_host'] }}/static/activity/shouqianba/css/wap-home-ofo.css?v=2.0.2">
    <link rel="stylesheet" href="css/wap_home_ofo_second.css">
    <script src="{{ page_param['static_host'] }}/static/js/plugins/lib/jquery.cookie.js"></script>

    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body onhashchange="_goBack()">
    <header>
        <p class="company-logo"><img src="images/wap-ofo-new/example-logo.png"></p>
        <p class="welfare-info">
            <span class="welfare-info-title">100万</span>
            <span class="welfare-info-detail">出行意外保障</span>
        </p>
    </header>
    <input type="hidden" value="{{ page_param['static_host'] }}" id="static_host">
    <input type="hidden" id="refreshed" value="no">
    <section>
        <div class="section-left-form-bg"></div>
        <div class="section-right-form-bg"></div>
        <div class="hidden">
            <div class="input-box">
                <div class="input-name">身份证号</div>
                <input class="input-text" type="text" name="idCard" placeholder="身份证号用于身份验证">
            </div>
        </div>
        <form method="post" id="form-box">
            <input type="hidden" id="timestamp" name="timestamp" value="{{page_param['timestamp']}}">
            <input type="hidden" id="jwt-token" name="jwt_token">
            <input id="interface-verify-phone" type="hidden" value="{{page_param['interface_verify_phone']}}">
            <input type="hidden" name="channel" value="{{page_param['V']}}">
            <input type="hidden" name="subchannel" value="{{page_param['subchannel']}}">
            <input type="hidden" name="theme_link" value="{{page_param['theme_link']}}">
            <input type="hidden" name="handler_path" value="{{page_param['handler_path']}}">
            <!--默认是1 点击关闭按钮为0 0未授权， 1 授权-->
            <input id="is-show-birth" type="hidden" value="True" name="is_show_birth">
            <input type="hidden" name="authorized" value="1" id="authorized">
            <input type="hidden" name="policy_index" value="" id="policy_index">
            <input type="hidden" name="action_failed" value="0" id="action_failed">
            <input type="hidden" name="policy_code" value="{{page_param['policy_code']}}">

            <h3>完善信息领取保障更可抽取ofo骑行月卡</h3>
            <div class="input-box">
                <div class="input-name">您的姓名</div>
                <input class="input-text" type="text" name="name" placeholder="请输入您的真实姓名">
            </div>
            <div class="input-box">
                <div class="input-name">手机号码</div>
                <input class="input-text" type="tel" name="mobile" placeholder="手机号码接收保单信息">
            </div>
            <div class="submit">
                <img src="{{page_param['static_host'] }}/static/activity/panding/didi/images/btn-loading.png" class="xuanzhuan" id="btn-loading"/>
                <input type="button" value="立即领取" id="submit-btn">
            </div>
            <div class="agree-box">
                <input id="agree" type="checkbox" checked >
                <label for="agree">我已知晓<span id="activity-rules-btn">《<a href="javascript:;">活动规则</a>》</span><span id="activity-server-btn">《<a href="javascript:;">服务协议</a>》</span>并许可保险公司专线致电我沟通赠险领取事宜</label>
            </div>
        </form>
    </section>
    <div class="insurance-detail">
        <div class="insurance-detail-title">
            <span class="insurance-detail-title-bg"></span>
            <span>赠险详情</span>
        </div>
        <div class="insurance-detail-content">
            <div class="insurance-name">
                <span class="insurance-icon"><img src="{{ page_param['static_host'] }}/static/images/logos/wap_{{page_param['policy_company']}}.png" alt=""/></span>
                <span class="insurance-name">{{page_param['policy_name']}}</span>
            </div>
            <!--{{page_param['policy_validity']}}-->
            <div class="insurance-time">保障期限：30天<span>保障年龄：25-50岁</span></div>
            <div class="insurance-table">
                <div class="table-content">
                    <table border="0">
                        <tr>
                            <th class="border-right border-bottom">保障内容</th>
                            <th class="border-bottom">最高保额</th>
                        </tr>
                        {% for info in page_param['policy_infos'] %}
                        <tr>
                            <td class="border-right">{{info['content']}}</td>
                            <td>{{info['amount']}}</td>
                        </tr>
                        {% end %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>本活动由黑牛保险提供，黑牛保险为合法授权服务商，如有需要，请联系</p>
        <p>服务热线：010-52747178（工作日10:00-17:00） </p>
        <p>服务邮箱：service@heiniubao.com 服务 QQ：3471653040</p>
    </footer>
    <!-- 新逻辑弹窗 -->
    <div class="mask-content" style="display:none;" id="new-mask-content"></div>
    <!-- 弹窗 -->
    <div class="mask" id="mask"></div>

    <!-- 活动规则 -->
    <div class="modal-box rules" id="rules">
        <h3>活动规则<a href="javascript:;"></a></h3>
        <div class="content">
            {% for explain in page_param['explain'] %}
            <p>{{explain}}</p>
            {% end %}
        </div>
    </div>
    <!-- 服务协议 -->
    <div class="modal-box rules" id="server">
        <h3>服务协议<a href="javascript:;"></a></h3>
        <div class="content">
        </div>
    </div>
    {% if page_param.get('go_back_link', None) %}
    <script>
        var currentLink = window.location.href;
        currentLink = (currentLink.indexOf('#page1') > -1) ? currentLink : (currentLink + '#page1');
        window.history.pushState(null, null, currentLink);
        function _goBack () {
            window.location.replace("{{ page_param.get('go_back_link', None) }}");
        }
    </script>
    {% else %}
    <script>
        function _goBack () {
            console.log();
        }
    </script>
    {% end %}
    <script>
        window.onpageshow = function (e) {
            var refreshedId=document.getElementById("refreshed");
            if(refreshedId.value=="no"){
                refreshedId.value="yes";
            } else{
                refreshedId.value="no";
                location.reload();
            }
        }
    </script>
    <script src="{{ page_param['static_host'] }}/static/activity/shouqianba/js/wap-home-ofo.js?v=1.0.1"></script>
    <div style="display: none;">
        <script type="text/javascript" src="{{ page_param['static_host'] }}/static/js/statistic.js"></script>
    </div>
</body>
</html>