*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #311d7a;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #acacac;
}
input::-moz-placeholder {
    color: #acacac;
}
input:-ms-input-placeholder {
    color: #acacac;
}
.clear:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.header {
    height: 3.23rem;
    background: url("../images/wap-home-banner.jpg") center no-repeat;
    background-size: 100%;
    margin-bottom: .56rem;
    overflow: unset;
}
.header .header-corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.27rem;
    height: 1.27rem;
    background: url("../images/header-corner.png") center no-repeat;
    background-size: 100%;
}
.header .rules-box-button {
    position: absolute;
    top: .2rem;
    left: .34rem;
    width: 1.07rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .28rem;
    color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}
.header .rules-box-button .rules-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.header .rules-button-content:before {
    position: absolute;
    top: .07rem;
    left: .08rem;
    width: .26rem;
    height: .26rem;
    background: url("../images/icon-rules.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.header .rules-button-content {
    position: absolute;
    padding-left: .4rem;
}
.header .custom-service {
    position: absolute;
    left: .47rem;
    bottom: -.2rem;
    width: .6rem;
    height: .6rem;
    background: url("../images/icon-custom.png") center no-repeat;
    background-size: 100%;
}
.header .chance-box {
    position: absolute;
    top: 2.8rem;
    left: 50%;
    width: 2.84rem;
    height: .56rem;
    margin-left: -1.43rem;
    line-height: .56rem;
    border: .02rem solid #fff;
    border-radius: .5rem;
    font-size: .28rem;
    color: #fff;
    text-align: center;
}
/* 转盘部分 */
.turntable-box {
    height: 7rem;
    overflow: unset;
}
.turntable-icon-top:before {
    position: absolute;
    top: .36rem;
    left: .34rem;
    width: 1.24rem;
    height: 1.32rem;
    background: url("../images/turntable-icon-top-left.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: -1;
}
.turntable-icon-top:after {
    position: absolute;
    top: .22rem;
    right: .17rem;
    width: 1.14rem;
    height: 1.11rem;
    background: url("../images/turntable-icon-top-right.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: -1;
}
.turntable-icon-bottom:before {
    position: absolute;
    left: .22rem;
    bottom: .26rem;
    width: .98rem;
    height: 1.26rem;
    background: url("../images/turntable-icon-bottom-left.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: -1;
}
.turntable-icon-bottom:after {
    position: absolute;
    right: .62rem;
    bottom: .05rem;
    width: .98rem;
    height: 1.26rem;
    background: url("../images/turntable-icon-bottom-right.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: -1;
}
/* 转盘主体 */
.turntable-content {
    position: relative;
    width: 6.8rem;
    height: 6.8rem;
    margin: 0 auto;
    background: url("../images/turntable-bg.png") center no-repeat;
    background-size: 100%;
}
.turntable-content:before {
    position: absolute;
    top: -.18rem;
    left: 50%;
    width: .5rem;
    height: .75rem;
    margin-left: -.25rem;
    background: url("../images/pointer.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: 2;
}
.turntable-prize {
    position: absolute;
    top: .2rem;
    left: 50%;
    width: 6.4rem;
    height: 6.4rem;
    margin-left: -3.2rem;
    background: url("../images/turntable-prize.png") center no-repeat;
    background-size: 100%;
    z-index: 1;
}
.rotate {
    animation: rotate 60s linear infinite;
}
/* 旋转动画 */
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);

    }
}
.turntable-light:before {
    position: absolute;
    top: .03rem;
    left: .06rem;
    width: 6.68rem;
    height: 6.7rem;
    background: url("../images/turntable-light-2.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.light-bg-1 {
    position: absolute;
    top: .03rem;
    left: .06rem;
    width: 6.68rem;
    height: 6.7rem;
    background: url("../images/turntable-light-1.png") center no-repeat;
    background-size: 100%;
    display: none;
}
.turntable-button {
    position: absolute;
    top: 2.4rem;
    left: 50%;
    width: 1.98rem;
    height: 1.98rem;
    margin-left: -.99rem;
    background: url("../images/turntable-button.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: 3;
}
.turntable-button:before {
    position: absolute;
    right: .15rem;
    bottom: .67rem;
    width: .57rem;
    height: .53rem;
    background: url("../images/dot.png") center no-repeat;
    background-size: 100%;
    content: '';
    animation: scale-dot 1s ease-in-out infinite;
}
@keyframes scale-dot {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
/* 手指 */
.turntable-finger {
    position: absolute;
    top: 3.32rem;
    right: 1.08rem;
    width: 1.86rem;
    height: 2.17em;
    background: url("../images/finger.png") center no-repeat;
    background-size: 100%;
    z-index: 3;
}
/*手机点击效果动画*/
.click{
    animation: click 1s linear infinite;
}
@keyframes click {
    0%{
        transform: skewY(0deg);
    }
    50% {
        transform: skewY(-10deg);
    }
    100%{
        transform: skewY(0deg);

    }
}
.footer {
    text-align: center;
    font-size: .24rem;
    color: #fff;
    margin-top: 1.13rem;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 10;
}
/* 红包样式 */
.redpacket {
    position: fixed;
    top: 1.72rem;
    left: 50%;
    width: 6.65rem;
    height: 8.18rem;
    margin-left: -3.325rem;
    background: url("../images/redpacket-bg.png") center no-repeat;
    background-size: 100%;
    z-index: 12;
    overflow: hidden;
    display: none;
}
.redpacket:before {
    position: absolute;
    top: 0;
    left: .84rem;
    width: 5.23rem;
    height: 4.76rem;
    background: url("../images/flashlight.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: 11;
    overflow: hidden;
    animation: light-rotate 8s linear infinite;
}
@keyframes light-rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);

    }
}
.content-header {
    position: absolute;
    top: 1.01rem;
    left: 50%;
    width: 2.78rem;
    height: 1.02rem;
    margin-left: -1.39rem;
    background: url('../images/gift-card-head.png') center no-repeat;
    background-size: 100%;
    z-index: 13;
}
.move-to-top {
    animation: move-to-top .5s linear;
}
@keyframes move-to-top {
    from {
        top: 4.3rem;
    }
    to {
        top: 1.01rem;
    }
}
.content-detail {
    position: absolute;
    top: 2.01rem;
    left: 50%;
    width: 5.32rem;
    height: 4.6rem;
    margin-left: -2.66rem;
    background: url("../images/gift-card-bg.png") center no-repeat;
    background-size: 100%;
    z-index: 13;
    font-size: 0;
}
body .delay300 {
    animation-delay: .3s;
}
.move-to-top-detail {
    animation: move-to-top-detail .5s linear;
}
@keyframes move-to-top-detail {
    from {
        top: 5.3rem;
    }
    to {
        top: 2.01rem;
    }
}
.redpacket-bottom {
    position: absolute;
    left: .13rem;
    bottom: 0;
    width: 6.52rem;
    height: 2.67rem;
    background: url("../images/redpacket-bottom.png") center no-repeat;
    background-size: 100%;
    z-index: 14;
}
.gift-img {
    width: 5.12rem;
    height: 2.4rem;
    margin: .1rem;
}
.gift-img img,
.gift-img a{
    display: inline-table;
    width: 100%;
}
.gift-info-title {
    color: #d51f00;
    font-size: .4rem;
    margin: .18rem 0;
    text-align: center;
}
.gift-info-desc {
    text-align: center;
}
.gift-info-desc span {
    display: inline-block;
    color: #fffc50;
    font-size: .28rem;
    padding: .14rem .34rem;
    background: #e4331c;
    border-radius: .1rem;
}
/* 活动规则 */
.rules-box {
    position: absolute;
    top: 1.4rem;
    left: 50%;
    width: 6.78rem;
    height: 8.9rem;
    margin-left: -3.39rem;
    background: url("../images/rules-bg.png") center no-repeat;
    background-size: 100%;
    z-index: 14;
    display: none;
}
.rules-box-content {
    position: absolute;
    top: 1.85rem;
    left: 1.18rem;
    width: 4.5rem;
    height: 5.4rem;
    overflow: auto;
}
.rules-box-content .rules-content-title {
    font-size: .32rem;
    color: #fff;
    margin-bottom: .24rem;
    text-align: center;
}
.rules-box-content .rules-detail {
    font-size: .28rem;
    color: #fff;
}
.detail-item {
    margin-bottom: .12rem;
}

/* 展示其他活动弹窗 */
.show-other-activity {
    position: absolute;
    top: 1.55rem;
    left: 50%;
    width: 6.9rem;
    height: 9rem;
    margin-left: -3.45rem;
    background: url("../images/show-activity-bg.png") center no-repeat;
    background-size: 100%;
    z-index: 11;
}
.show-other-activity:before {
    position: absolute;
    top: -.42rem;
    left: 50%;
    width: .5rem;
    height: .5rem;
    margin-left: -.25rem;
    background: url("../images/show-actitity-close.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.show-other-activity .activity-item {
    position: absolute;
    left: 50%;
    width: 6.6rem;
    height: 2.9rem;
    margin-left: -3.3rem;
    font-size: 0;
}
.show-other-activity .activity-item:after {
    position: absolute;
    left: 50%;
    bottom: -.44rem;
    width: 3.02rem;
    height: .9rem;
    margin-left: -1.51rem;
    background: url("../images/show-activity-button.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.show-other-activity .activity-item:first-child {
    top: 1.9rem;
}
.show-other-activity .activity-item:last-child {
    bottom: .7rem;
}
.show-other-activity .activity-item img {
    width: 100%;
}