*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: url("../images/wap-gird-bg.png") top repeat-y #fdd92b;
    background-size: 100%;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #acacac;
}
input::-moz-placeholder {
    color: #acacac;
}
input:-ms-input-placeholder {
    color: #acacac;
}
.clear:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.header {
    width: 100%;
    height: .98rem;
}
/* 头部按钮 */
.rules-button {
    width: 1.28rem;
    height: .56rem;
    background: #ffffff;
    font-size: .28rem;
    color: #3f388b;
    text-align: center;
    line-height: .56rem;
    border-radius: .5rem;
    box-shadow: 1px 4px 1px #d7d7d7;
    float: left;
    margin: .2rem;
}
.welfare-enter-button {
    position: relative;
    width: 1.95rem;
    height: .32rem;
    padding: .12rem 0 .12rem .25rem;
    background: #f23649;
    color: #ffffff;
    font-size: .28rem;
    border-radius: .5rem;
    box-shadow: 1px 4px 1px #fff5c2;
    float: right;
    z-index: 1;
    margin: .2rem;
}
.welfare-enter-button span {
    position: absolute;
    top: 0;
    width: .58rem;
    height: .58rem;
    display: inline-table;
    background: #fdeb71;
    line-height: .58rem;
    text-align: center;
    border-radius: 50%;
    animation: leave 1s linear infinite;
}
.welfare-enter-button span b {
    width: .5rem;
    height: .5rem;
    display: inline-table;
    border: 1px solid #f36f27;
    border-radius: 50%;
    text-align: center;
    line-height: .5rem;
    background-color: #ff9a3c;
    font-size: .22rem;
}
/* 标题 */
.title {
    position: relative;
    width: 4.93rem;
    height: 1.98rem;
    background: url("../images/wap-title.png") center no-repeat;
    background-size: 100%;
    font-size: .3rem;
    color: #3e2c2a;
}
.title p {
    position: absolute;
    left: 1.05rem;
    bottom: .18rem;
    text-shadow: 2px 1px #fff;
}
.title p .right-title {
    margin-left: .3rem;
}
/* 转盘主体 */
.turntable {
    position: relative;
    width: 6.92rem;
    height: 6.94rem;
    margin: .22rem auto .4rem;
}
.turntable-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.92rem;
    height: 6.94rem;
    background: url("../images/wap-turntable-bg.png") center no-repeat;
    background-size: 100%;
    animation: rotate 15s linear infinite;
}
.turntable-prize {
    position: absolute;
    top: .4rem;
    left: .4rem;
    width: 6.14rem;
    height: 6.14rem;
    background: url("../images/wap-prize-bg.png") center no-repeat;
    background-size: 100%;
}
.turntable-button {
    position: absolute;
    top: 2.25rem;
    left: 2.6rem;
    width: 1.6rem;
    height: 2.03rem;
    background: url("../images/wap-btn-bg.png") center no-repeat;
    background-size: 100%;
}
.turntable-button input {
    width: 1.6rem;
    height: 2.03rem;
    opacity: 0;
    z-index: 10;
}
.turntable-button-animation {
    position: absolute;
    top: .42rem;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/wap-prize-btn.png") center no-repeat;
    background-size: 100%;
    animation: leave 1s linear infinite;
}
/* 奖品按钮 */
.prize-btn {
    position: relative;
    width: 6.4rem;
    height: .99rem;
    margin: 0 auto;
}
.prize-btn-pg {
    position: absolute;
    top: 0;
    width: 2.92rem;
    height: .99rem;
    background: url("../images/wap-prize-btn-bg.png") center no-repeat;
    background-size: 100%;
    display: inline-table;
    font-size: .3rem;
    color: #fff;
    text-align: center;
    line-height: .9rem;
    text-shadow: -1px -1px 1px #000;
    font-weight: bold;
}
.prize-num-btn {
    left: 0;
    line-height: .85rem;
}
.prize-num-btn span {
    font-size: .46rem;
    color: #f6ff00;
    text-shadow: none;
    margin: 0 .08rem;
}
.mine-prize--btn {
    right: 0;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    display: none;
    z-index: 10;
}
/* 弹窗样式 */
.modal {
    position: absolute;
    top: 1.7rem;
    left: 50%;
    width: 6.52rem;
    margin-left: -3.26rem;
    border: .06rem solid #f23649;
    padding: .06rem;
    background: #ffffff;
    z-index: 11;
    display: none;
}
.modal-close {
    position: absolute;
    top: -.26rem;
    right: -.26rem;
    width: .58rem;
    height: .58rem;
    font-size: 0;
    z-index: 12;
}
.modal-close .close-btn {
    width: .58rem;
    height: .58rem;
    display: inline-table;
    background: url("../images/wap-modal-close.png") center no-repeat;
    background-size: 100%;
}
.modal-content {
    border: .04rem solid #f23649;
    padding: .3rem .4rem;
}
.modal-content p {
    margin-bottom: .24rem;
    font-size: .26rem;
    color: #000000;
}
.modal-content .modal-content-title {
    color: #f23649;
    font-size: .32rem;
}
/* 动画 */
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes leave {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.9);
    }
}