*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
input::-webkit-input-placeholder {
    color: #fff;
}
input::-moz-placeholder {
    color: #fff;
}
input:-ms-input-placeholder {
    color: #fff;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    display: none;
    z-index: 10;
}
/* i康宝新弹窗 */
.modal-box {
    position: absolute;
    top: 1.25rem;
    left: 50%;
    width: 6.5rem;
    margin-left: -3.25rem;
    background: #fff;
    border-radius: .2rem;
}
.modal-box .modal-box-header {
    padding: .34rem .3rem;
}
.modal-box .modal-box-header .modal-header-title {
    text-align: center;
    font-size: .28rem;
    color: #0177f0;
}
.modal-box .modal-box-header .modal-header-input {
    width: 5.3rem;
    margin: .32rem auto 0;
    padding: .32rem .3rem;
    border: .02rem solid #015fc0;
    font-size: 0;
    background: #0177f0;
    border-radius: 8px;
}
.modal-box .modal-box-header .modal-header-input .left-box {
    height: .32rem;
    line-height: .32rem;
    font-size: .28rem;
    color: #fff;
    float: left;
    padding-right: .2rem;
    border-right: 1px solid #fff;
}
.modal-box .modal-box-header .modal-header-input .right-box {
    float: left;
    color: #fff;
    margin-left: .2rem;
}
.modal-box .modal-box-header .modal-header-input .right-box input {
    width: 4rem;
    height: .32rem;
    line-height: .32rem;
    background: none;
    font-size: .24rem;
    color: #fff;
}
.modal-box .modal-box-header .modal-box-tip {
    margin-top: .3rem;
    text-align: center;
    font-size: .24rem;
    color: #888888;
}
.modal-box .modal-box-header .modal-box-tip span {
    color: #4593e0;
}
.modal-box .modal-box-middle {
    position: relative;
    width: 100%;
    height: 3.08rem;
    background: #ecf4ff;
}
.modal-box .modal-box-middle:after {
    position: absolute;
    top: .11rem;
    left: .48rem;
    width: 5.85rem;
    height: 1.94rem;
    background: url("../images/modal-middle-img.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.result-cost {
    position: absolute;
    top: 2.1rem;
    left: 50%;
    width: 5.2rem;
    margin-left: -2.6rem;
}
.result-cost:before {
    position: absolute;
    top: -.06rem;
    left: 0;
    width: 5.2rem;
    height: .14rem;
    background: #d2e7ec;
    content: '';
    border-radius: .4rem;
}
.result-cost-detail {
    position: relative;
    width: 4.15rem;
    margin: 0 auto;
    padding: .2rem .4rem .2rem .45rem;
    background: #fff;
    color: #4593e0;
    z-index: 1;
    font-size: .32rem;
}
.result-cost-detail:after {
    position: absolute;
    left: 0;
    bottom: -.05rem;
    width: 5rem;
    height: .1rem;
    background: url("../images/wap-result-cost.png") center no-repeat;
    background-size: 100%;
    content: '';
    z-index: 1;
}
.result-cost-detail span {
    color: #ff9600;
}
/* 详情 */
.modal-box-detail {
    margin: .2rem 0 .2rem .44rem;
}
.result-popup-info {

    font-size: .24rem;
    color: #888;
    text-align: center;
}
.result-popup-info .info-item {
    position: relative;
    float: left;
    padding-right: .3rem;
}
.result-popup-info .info-item:first-child {
    padding-top: .7rem;
    padding-right: .6rem;
}
.result-popup-info .info-item:not(:first-child) {
    padding-top: .7rem;
    padding-left: .3rem;
}
.result-popup-info .info-item:last-child {
    padding-left: .24rem;
    padding-right: 0;
    border-right: none;
}
.result-popup-info .info-item .info-num {
    font-size: .32rem;
    margin-bottom: .2rem;
    color: #42a9c3;
}
.money-icon:before {
    position: absolute;
    top: 0;
    left: .2rem;
    width: .52rem;
    height: .52rem;
    background: url("../images/modal-detail-icon-money.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.money-icon:after,
.add-icon:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: .86rem;
    background: #e9e9e9;
    content: '';
}
.add-icon:before {
    position: absolute;
    top: 0;
    left: .86rem;
    width: .52rem;
    height: .52rem;
    background: url("../images/modal-detail-icon-add.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.fast-icon:before {
    position: absolute;
    top: 0;
    left: .86rem;
    width: .52rem;
    height: .52rem;
    background: url("../images/modal-detail-icon-fast.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.result-popup-bottom {
    position: relative;
    width: 6.15rem;
    height: 1rem;
    margin: .27rem auto .37rem;
    background: url("../images/wap-popup-bottom.png") center no-repeat;
    background-size: 100%;
}
.result-bottom-welfare {
    position: absolute;
    top: .32rem;
    left: .65rem;
    color: #ffffff;
    font-size: .26rem;
}
.result-bottom-adv-tip {
    position: absolute;
    top: .1rem;
    left: 1.85rem;
    font-size: .24rem;
    color: #84bbf3;
}