*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11rem;
    background-color: #000;
    opacity: .6;
    z-index: 5;
}
/*红包样式*/
.redpacket-mask-container{
    position: fixed;
    top: 0;
    left: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
    z-index: 6;
}
.new-packet-list{
    z-index: 101;
    position: absolute;
    top: 1.6rem;
    left: 50%;
    width: 7.5rem;
    height: 10rem;
    margin-left: -3.75rem;
}

.title-chance{
    color: #ffffff;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}
.li{
    height: 8.4rem;
    padding-top: 2.5rem;
    transform-style: preserve-3d
}
.red{
    width: 5.75rem;
    height: 5.98rem;
    background: url("../images/red-packet-bg.png") center no-repeat;
    background-size: 100%;
    margin: 2rem auto;
    position: relative;
    /*z-index: 1010;*/
    transform: translateZ(4px);
    transform-style: preserve-3d;
}
.red-forward{
    position: absolute;
    bottom: 0;
    left: 0;
    /*z-index: 1004;*/
    transform: translateZ(5px);
    background: url("../images/rad-packet-forward.png") bottom no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
.red-btn{
    position: absolute;
    left: 50%;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: -.9rem;
    top: 1.1rem;
    /*z-index: 1005;*/
    transform: translateZ(6px);
    background: url("../images/red-packet-btn.png") center no-repeat;
    background-size: 100%;
}
.red-envelope{
    position: absolute;
    /*z-index: 1001;*/
    transform: translateZ(5px);
    display: block;
    top: 0;
    left: 0;
    background: url("../images/envelope.png") center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1.9rem;
}
.prize{
    width: 4.7rem;
    height: 4.3rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -2.35rem;
    /*z-index: 1003;*/
    transform: translateZ(3px);
    opacity: 0;
}
.gift-bg{
    position: absolute;
    /*z-index: 1001;*/
    transform: translateZ(1px);
}
.gift-img{
    position: relative;
    /*z-index: 1002;*/
    width: 4.64rem;
    height: 2.56rem;
    margin: .04rem auto 0;
    display: inherit;
    transform: translateZ(2px);
}
.gift-info{
    font-size: .28rem;
    color: #702c00;
    position: absolute;
    top: 3.05rem;
    /* z-index: 1003; */
    -webkit-transform: translateZ(3px);
    transform: translateZ(3px);
    text-align: center;
    width: 100%;
}
.red-packet-slide-tip{
    font-size: .32rem;
    color: #ffe6ad;
    position: absolute;
    bottom: 1rem;
    /* z-index: 1005; */
    -webkit-transform: translateZ(5px);
    transform: translateZ(5px);
    width: 2.4rem;
    margin-left: -1.2rem;
    left: 50%;
    display: inline-table;
}
.red-packet-slide-tip img{
    width: .14rem;
    height: .24rem;
    margin-right: .1rem;
}
.opacity-img{
    opacity: .8;
    animation: opacity-img 1s ease infinite ;
    -webkit-animation: opacity-img 1s ease infinite ;
}
body .delay1000 {
    animation-delay:1s;
    -webkit-animation-delay:1s;
}
body  .delay500 {
    animation-delay:.5s;
    -webkit-animation-delay:.5s;
}
body .delay300 {
    -webkit-animation-delay:.3s;
}
@-webkit-keyframes opacity-img {
    0%{
        opacity: .8;
    }
    50%{
        opacity: .0;
    }
    100%{
        opacity: .8;
    }
}
@keyframes opacity-img {
    0%{
        opacity: .8;
    }
    50%{
        opacity: .0;
    }
    100%{
        opacity: .8;
    }
}
.open {
    animation: open 1s ease both;
    -webkit-animation: open 1s ease both;
    transform-origin:0px 1px;
    -webkit-transform-origin:0px 1px;
    vertical-align: bottom;
}
@-webkit-keyframes open {
    0%{
        transform: rotate3d(0,0,0,0deg);
    }
    100%{
        transform: rotate3d(1,0,0,-180deg)  translateZ(4px);
    }
}
@keyframes open {
    0%{
        transform: rotate3d(0,0,0,0deg);
    }
    100%{
        transform: rotate3d(1,0,0,-180deg)  translateZ(4px);
    }
}
.show-gift{
    animation: show-gift 1s ease both;
    -webkit-animation: show-gift 1s ease both;
}
/*弹出礼品*/
@-webkit-keyframes  show-gift {
    0%{
        top: 1.5rem;
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        top: -2.5rem;
        opacity: 1;
        transform: translateZ(2px)
    }
}
@keyframes show-gift {
    0%{
        top: 1.5rem;
        opacity: 0;
        transform: translateZ(2px)
    }
    80%{
        opacity: 1;
        transform: translateZ(2px)
    }
    100%{
        top: -2.5rem;
        opacity: 1;
        transform: translateZ(2px)
    }
}