body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, img {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, \5b8b\4f53;
	color: #000;
}

html, body {
	height: 100%;
	width: 100%;
}

ul, li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
input {
	border: none;
	background: transparent;
	outline:none
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset;}
.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}
.content {
	min-width:1200px;
}
/*头部*/
.top {
	position: relative;
	height: 70px;
	background: #fff;
	border-bottom: 1px solid #e7c78e;
	z-index: 4;
}
.top-header {
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.top-header h1 {
	width: 122px;
	height: 38px;
	line-height: 38px;
	padding-top: 16px;
}
.top-header h1 img {
	width: 100%;
}
.header-tel {
	position: relative;
	width: 246px;
	height: 40px;
	padding-top: 14px;
}
.header-tel:before {
	position: absolute;
	left: 0;
	width: 35px;
	height: 40px;
	background: url("../images/header-tel-icon.png") center no-repeat;
	background-size: 100%;
	content: '';
}
.header-tel:after {
	position: absolute;
	right: 0;
	width: 192px;
	height: 40px;
	background: url("../images/server-info.png") center no-repeat;
	background-size: 100%;
	content: '';
}
/*侧边栏导航*/
.sidebar {
	position: fixed;
	z-index: 100;
	top: 50%;
	right: 30px;
	width: 50px;
	height: 420px;
	margin-top: -210px;
}
.sidebar>li {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 15px auto;
	border: 3px solid #3fd4d2;
	border-radius: 50%;
	cursor: pointer;
	transition: all .8s;
}
.sidebar>li.active:after {
	position: absolute;
	top: 4px;
	left: 50%;
	margin-left: -11px;
	width: 22px;
	height: 22px;
	background: #3fd4d2;
	display: block;
	border-radius: 50%;
	content: '';
}

/*箭头*/
.arrow-down {
	position: fixed;
	z-index: 100;
	left: 50%;
	bottom: 20px;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	font-size: 42px;
	text-align: center;
	cursor: pointer;
}

/*主题模块*/
.content {
	position: relative;
}
.content .section {
	position: relative;
	width: 100%;
}
.content .section .section-title {
	text-align: center;
}
.section-title .title-info {
	font-size: 28px;
	color: #c99f5e;
}
.section-title .title-desc {
	font-size: 18px;
	color: #303030;
	margin-top: 16px;
}
.section-top {
	padding-top: 71px;
}
.content .section:first-child:after {
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 42px;
	height: 30px;
	margin-left: -21px;
	background: url("../images/arrow.png") center no-repeat;
	background-size: 100%;
	content: '';
}
.wrap {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
/*banner图*/
.banner {
	position: absolute;
	width: 100%;
	height: 735px;
	overflow: hidden;
}
.banner>ul {
	width: 100%;
	height: 735px;
	overflow: hidden;
}
.banner>ul>li {
	position: absolute;
	width: 100%;
	height: 735px;
}
.banner>ul>li img {
	width: 100%;
	height: 100%;
	display: block;
}
.banner-nav-button {
	position: absolute;
	bottom: 50px;
	left: 50%;
	z-index: 5;
 	width: 260px;
 	height: 5px;
 	margin-left: -130px;
}
.banner-nav-button>a {
	width: 80px;
	height: 5px;
	float: left;
	background: #fff;
	cursor: pointer;
}
.banner-nav-button>a.active {
	background-color: #c99f5e;
	z-index: 1;
}
.middle-margin {
	margin: 0 10px;
}
.mask-li {
	opacity: 0;
}
.first-banner {
	height: 100%;
	background: url("../images/pc-banner-1.png") center no-repeat;
	background-size: cover;
}
.second-banner {
	height: 100%;
	background: url("../images/pc-banner-2.png") center no-repeat;
	background-size: cover;
}
.third-banner {
	height: 100%;
	background: url("../images/pc-banner-3.png") center no-repeat;
	background-size: cover;
}
/* 表单主体 */
.form-content {
	position: relative;
	width: 432px;
	height: 445px;
	background: #fff;
	padding: 35px 40px 78px 38px;
	border-radius: 8px;
	z-index: 3;
	margin-top: 90px;
}
.form-content:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	height: 62px;
	background: url("../images/form-icon.png") center no-repeat;
	background-size: 100%;
	content: '';
}
.form-content .form-title {
	color: #303030;
	font-size: 28px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 34px;
}
.input-box {
	position: relative;
	margin-bottom: 30px;

}
.input-box .left-input-box {
	border: 1px solid #bdbdbc;
	background: #fffdf4;
}
.input-box .left-input-box .input-text {
	width: 400px;
	height: 58px;
	line-height: 58px;
	padding-left: 20px;

}
.short-input {
	border: none;
}
.short-input .left-input-box .input-text {
	width: 262px;
}
.short-input .left-input-box {
	border: 1px solid #bdbdbc;
}
/* 性别选项 */
.form-box .input-box .sex-box {
	position: absolute;
	top: 0;
	right: 0;
	width: 138px;
	height: 58px;
	overflow: hidden;
	border: 1px solid #bdbdbc;
	font-size: 0;
}
.form-box .input-box .sex-box input[type="radio"] {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.form-box .input-box .sex-box label {
	display: inline-block;
	width: 50%;
	height: 58px;
	font-size: 18px;
	color: #44362c;
	text-align: center;
	line-height: 58px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
}

.form-box .input-box .sex-box input:checked + label {
	color: #fff;
	background: #c99f5e;
}
/* 验证码 */
.form-box .input-box .send-box {
	border: 1px solid #c99f5e;
}
.send {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	line-height: 100%;
	background-color: #c99f5e;
	font-size: 18px;
	color: #fff;
	-webkit-appearance: none;
	appearance: none;
	display: block;
}
.form-tip {
	font-size: 18px;
	color: #8b524b;
	margin-left: 20px;
}
.form-submit {
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	display: block;
	font-size: 24px;
	color: #fff;
	background: #f55e3a;
	margin-top: 20px;
}
/* 第二屏模块 */
.top-banner-first {
	height: 100%;
	background: url("../images/life-apartment-banner-1.png") center no-repeat;
	background-size: cover;
}
.top-banner-second {
	height: 100%;
	background: url("../images/life-apartment-banner-2.png") center no-repeat;
	background-size: cover;
}
.top-banner-third {
	height: 100%;
	background: url("../images/life-apartment-banner-3.png") center no-repeat;
	background-size: cover;
}
.bottom-banner-first {
	height: 100%;
	background: url("../images/tend-apartment-banner-1.png") center no-repeat;
	background-size: cover;
}
.bottom-banner-second {
	height: 100%;
	background: url("../images/tend-apartment-banner-2.png") center no-repeat;
	background-size: cover;
}
.bottom-banner-third {
	height: 100%;
	background: url("../images/tend-apartment-banner-3.png") center no-repeat;
	background-size: cover;
}
.apartment-section .top-section,
.apartment-section .bottom-section{
	position: relative;
	width: 100%;
	height: 350px;
	margin-top: 38px;
	margin-bottom: 1px;
}
.top-section-banner>ul,
.bottom-section-banner>ul {
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.top-section-banner>ul>li,
.bottom-section-banner>ul>li {
	position: absolute;
	width: 100%;
	height: 350px;
}
.top-section-banner>ul>li img,
.bottom-section-banner>ul>li img {
	width: 100%;
	height: 100%;
	display: block;
}
.top-section-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 930px;
	height: 100%;
}
.top-section-content:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 910px;
	height: 100%;
	background: url("../images/apartment-bg-2.png") center no-repeat;
	background-size: 100%;
	content: '';
}
.top-section-content:after {
	position: absolute;
	top: 0;
	right: 20px;
	width: 910px;
	height: 100%;
	background: url("../images/apartment-bg-2.png") center no-repeat;
	background-size: 100%;
	content: '';
	opacity: .8;
}
.top-section-content .top-section-detail {
	position: absolute;
	top: 90px;
	left: 324px;
	width: 246px;
	color: #fff;
	font-size: 0;
	z-index: 3;
}
.top-section-content .top-content-title {
	font-size: 28px;
	margin-bottom: 28px;
}
.top-section-content .top-content-desc {
	font-size: 18px;
}
.apartment-section .bottom-section {
	margin: 0;
}
.bottom-section-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 930px;
	height: 100%;
}
.bottom-section-content:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 910px;
	height: 100%;
	background: url("../images/apartment-bg-2.png") center no-repeat;
	background-size: 100%;
	content: '';
	transform: rotate(180deg);
}
.bottom-section-content:after {
	position: absolute;
	top: 0;
	right: 20px;
	width: 910px;
	height: 100%;
	background: url("../images/apartment-bg-2.png") center no-repeat;
	background-size: 100%;
	content: '';
	opacity: .8;
	transform: rotate(180deg);
}
.bottom-section-detail {
	position: absolute;
	top: 48px;
	left: 360px;
	width: 246px;
	color: #fff;
	font-size: 0;
	z-index: 3;
}
.bottom-section-content .bottom-content-title {
	font-size: 28px;
	margin-bottom: 28px;
}
.bottom-section-content .bottom-content-desc {
	font-size: 18px;
}
.order-button {
	position: relative;
	width: 182px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #c99f5e;
	padding-left: 68px;
	margin: 30px auto 0;
	box-shadow: 5px 5px 1px #f4e6cc;
	display: block;
	font-size: 18px;
}
.order-button:after {
	position: absolute;
	top: 9px;
	right: 69px;
	width: 22px;
	height: 22px;
	background: url("../images/button-icon.png") center no-repeat;
	background-size: 100%;
	content: '';
}
.section-second:after,
.section-third:after,
.section-fourth:after,
.section-sixth:after{
	position: absolute;
	bottom: 0!important;
}
/* 第三屏开始 */
.section-3-content {
	margin-top: 38px;
}
/*tab导航切换*/
.tab-switch-box {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	overflow: hidden;
}
.tab-switch-box .tab-nav-box {
	width: 245px;
	height: 676px;
}
.tab-switch-box .tab-nav-box>a {
	position: relative;
	width: 245px;
	height: 110px;
	text-align: center;
	color: #c99f5e;
	background-color: #f0e8da;
	margin-bottom: 2px;
	cursor: pointer;
	display: block;
	transition: all .8s;
}
.tab-switch-box .tab-nav-box>a.active {
	background-color: #c99f5e;
	color: #fff;
}
.tab-switch-box .tab-nav-box a {
	height: 39px;
	padding-top: 72px;
}
.item-service .icon-service {
	position: absolute;
	top: 29px;
	left: 50%;
	width: 46px;
	height: 30px;
	margin-left: -23px;
	background: url("../images/icon-service.png") center no-repeat;
	background-size: 100%;
}
.tab-switch-box .tab-nav-box>a.active .icon-service {
	background: url("../images/icon-service-active.png") center no-repeat;
	background-size: 100%;
}
.item-hospital .icon-hospital {
	position: absolute;
	top: 23px;
	left: 50%;
	width: 40px;
	height: 36px;
	margin-left: -20px;
	background: url("../images/icon-hospital.png") center no-repeat;
	background-size: 100%;
}
.tab-switch-box .tab-nav-box>a.active .icon-hospital {
	background: url("../images/icon-hospital-active.png") center no-repeat;
	background-size: 100%;
}
.item-clinic .icon-clinic {
	position: absolute;
	top: 17px;
	left: 50%;
	width: 48px;
	height: 42px;
	margin-left: -24px;
	background: url("../images/icon-clinic.png") center no-repeat;
	background-size: 100%;
}
.tab-switch-box .tab-nav-box>a.active .icon-clinic {
	background: url("../images/icon-clinic-active.png") center no-repeat;
	background-size: 100%;
}

.item-recover .icon-recover {
	position: absolute;
	top: 16px;
	left: 50%;
	width: 34px;
	height: 46px;
	margin-left: -17px;
	background: url("../images/icon-recover.png") center no-repeat;
	background-size: 100%;
}
.tab-switch-box .tab-nav-box>a.active .icon-recover {
	background: url("../images/icon-recover-active.png") center no-repeat;
	background-size: 100%;
}

.item-medical .icon-medical {
	position: absolute;
	top: 25px;
	left: 50%;
	width: 40px;
	height: 32px;
	margin-left: -20px;
	background: url("../images/icon-medical.png") center no-repeat;
	background-size: 100%;
}
.tab-switch-box .tab-nav-box>a.active .icon-medical {
	background: url("../images/icon-medical-active.png") center no-repeat;
	background-size: 100%;
}

.item-device .icon-device {
	position: absolute;
	top: 18px;
	left: 50%;
	width: 36px;
	height: 40px;
	margin-left: -20px;
	background: url("../images/icon-device.png") center no-repeat;
	background-size: 100%;
}
.tab-switch-box .tab-nav-box>a.active .icon-device {
	background: url("../images/icon-device-active.png") center no-repeat;
	background-size: 100%;
}

.tab-switch-box .tab-content-box {
	position: relative;
	width: 945px;
	height: 676px;
	margin-left: 255px;
}
.tab-switch-box .tab-content-box>ul {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .8s;
}
.tab-switch-box .tab-content-box>ul.active {
	opacity: 1;
	z-index: 0;
}
.tab-switch-box .tab-content-box>ul>li {
	position: absolute;
	top: 800px;
	opacity: 0;
	transition-property: top opacity;
}
.tab-switch-box .tab-content-box>ul.active>li {
	opacity: 1;
}
.item-text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	z-index: 1;
}
.item-text:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #000;
	opacity: .5;
	content: '';
	z-index: -1;
}
.item-1-1 .item-text {
	width: 564px;
	padding-left: 36px;
}
.item-2-1 .item-text,
.item-3-1 .item-text,
.item-4-1 .item-text,
.item-5-1 .item-text,
.item-6-1 .item-text {
	width: 563px;
	padding-left: 36px;
}
.tab-switch-box .tab-content-box>ul>li.item-1-1 {
	top: 0;
	left: 0px;
	width: 600px;
	height: 332px;
	transition-duration: 1.5s;
	transition-delay: 0s;
	background: url("../images/item-1-1.png") center no-repeat;
	background-size: cover;
}
.tab-switch-box .tab-content-box>ul>li.item-1-2 {
	top: 0;
	right: 0px;
	width: 337px;
	height: 332px;
	transition-duration: 1.2s;
	transition-delay: .3s;
	background: url("../images/item-1-2.png") center no-repeat;
	background-size: cover;
}
.tab-switch-box .tab-content-box>ul>li.item-1-3 {
	top: 343px;
	left: 0px;
	width: 337px;
	height: 333px;
	background: url("../images/item-1-3.png") center no-repeat;
	background-size: cover;
	transition-duration: 1s;
	transition-delay: .5s;
}
.tab-switch-box .tab-content-box>ul>li.item-1-4 {
	top: 343px;
	right: 0px;
	width: 599px;
	height: 333px;
	background: url("../images/item-1-4.png") center no-repeat;
	background-size: cover;
	transition-duration: .9s;
	transition-delay: .6s;
}
.tab-switch-box .tab-content-box>ul>li.item-1-5 {
	left: 0px;
	width: 500px;
	height: 190px;
	transition-duration: .5s;
	transition-delay: 1s;
}
.tab-switch-box .tab-content-box>ul>li.item-1-6 {
	right: 0px;
	width: 460px;
	height: 380px;
	background-color: red;
	transition-duration: .7s;
	transition-delay: .8s;
}

.tab-switch-box .tab-content-box>ul>li.item-2-1 {
	top: 0;
	left: 0;
	width: 599px;
	height: 333px;
	background: url("../images/item-2-1.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.5s;
	transition-delay: 0s;
}
.tab-switch-box .tab-content-box>ul>li.item-2-2 {
	top: 0;
	right: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-2-2.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.2s;
	transition-delay: .3s;
}
.tab-switch-box .tab-content-box>ul>li.item-2-3 {
	top: 343px;
	left: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-2-3.png") center no-repeat;
	background-size: cover;
	transition-duration: 1s;
	transition-delay: .5s;
}
.tab-switch-box .tab-content-box>ul>li.item-2-4 {
	top: 343px;
	right: 0px;
	width: 599px;
	height: 333px;
	background: url("../images/item-2-4.png") center no-repeat;
	background-size: cover;
	transition-duration: .9s;
	transition-delay: .6s;
}

.tab-switch-box .tab-content-box>ul>li.item-3-1 {
	top: 0;
	left: 0;
	width: 599px;
	height: 333px;
	background: url("../images/item-3-1.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.5s;
	transition-delay: 0s;
}
.tab-switch-box .tab-content-box>ul>li.item-3-2 {
	top: 0;
	right: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-3-2.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.2s;
	transition-delay: .3s;
}
.tab-switch-box .tab-content-box>ul>li.item-3-3 {
	top: 343px;
	left: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-3-3.png") center no-repeat;
	background-size: cover;
	transition-duration: 1s;
	transition-delay: .5s;
}
.tab-switch-box .tab-content-box>ul>li.item-3-4 {
	top: 343px;
	right: 0px;
	width: 599px;
	height: 333px;
	background: url("../images/item-3-4.png") center no-repeat;
	background-size: cover;
	transition-duration: .9s;
	transition-delay: .6s;
}
.tab-switch-box .tab-content-box>ul>li.item-4-1 {
	top: 0;
	left: 0;
	width: 599px;
	height: 333px;
	background: url("../images/item-4-1.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.5s;
	transition-delay: 0s;
}
.tab-switch-box .tab-content-box>ul>li.item-4-2 {
	top: 0;
	right: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-4-2.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.2s;
	transition-delay: .3s;
}
.tab-switch-box .tab-content-box>ul>li.item-4-3 {
	top: 343px;
	left: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-4-3.png") center no-repeat;
	background-size: cover;
	transition-duration: 1s;
	transition-delay: .5s;
}
.tab-switch-box .tab-content-box>ul>li.item-4-4 {
	top: 343px;
	right: 0px;
	width: 599px;
	height: 333px;
	background: url("../images/item-4-4.png") center no-repeat;
	background-size: cover;
	transition-duration: .9s;
	transition-delay: .6s;
}

.tab-switch-box .tab-content-box>ul>li.item-5-1 {
	top: 0;
	left: 0;
	width: 599px;
	height: 333px;
	background: url("../images/item-5-1.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.5s;
	transition-delay: 0s;
}
.tab-switch-box .tab-content-box>ul>li.item-5-2 {
	top: 0;
	right: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-5-2.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.2s;
	transition-delay: .3s;
}
.tab-switch-box .tab-content-box>ul>li.item-5-3 {
	top: 343px;
	left: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-5-3.png") center no-repeat;
	background-size: cover;
	transition-duration: 1s;
	transition-delay: .5s;
}
.tab-switch-box .tab-content-box>ul>li.item-5-4 {
	top: 343px;
	right: 0px;
	width: 599px;
	height: 333px;
	background: url("../images/item-5-4.png") center no-repeat;
	background-size: cover;
	transition-duration: .9s;
	transition-delay: .6s;
}

.tab-switch-box .tab-content-box>ul>li.item-6-1 {
	top: 0;
	left: 0;
	width: 599px;
	height: 333px;
	background: url("../images/item-6-1.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.5s;
	transition-delay: 0s;
}
.tab-switch-box .tab-content-box>ul>li.item-6-2 {
	top: 0;
	right: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-6-2.png") center no-repeat;
	background-size: cover;
	transition-duration: 1.2s;
	transition-delay: .3s;
}
.tab-switch-box .tab-content-box>ul>li.item-6-3 {
	top: 343px;
	left: 0;
	width: 337px;
	height: 333px;
	background: url("../images/item-6-3.png") center no-repeat;
	background-size: cover;
	transition-duration: 1s;
	transition-delay: .5s;
}
.tab-switch-box .tab-content-box>ul>li.item-6-4 {
	top: 343px;
	right: 0px;
	width: 599px;
	height: 333px;
	background: url("../images/item-6-4.png") center no-repeat;
	background-size: cover;
	transition-duration: .9s;
	transition-delay: .6s;
}
/* 第四屏开始 */
.section-fourth-content,
.sixth-content {
	width: 100%;
	height: 684px;
	background: #f6f2eb;
	margin-top: 36px;
	padding: 10px 0;
}
.fourth-item {
	position: relative;
	width: 320px;
	height: 161px;
	padding: 523px 30px 0;
	font-size: 18px;
	color: #c99f5e;
	background: #f0e8da;
}
.fourth-item-1:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 380px;
	height: 484px;
	background: url("../images/fourth-item-1.png") center no-repeat;
	background-size: cover;
	content: '';
}
.fourth-item-2:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 380px;
	height: 484px;
	background: url("../images/fourth-item-2.png") center no-repeat;
	background-size: cover;
	content: '';
}
.fourth-item-3:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 380px;
	height: 484px;
	background: url("../images/fourth-item-3.png") center no-repeat;
	background-size: cover;
	content: '';
}
.foutrh-margin-middle {
	margin: 0 30px;
}
/* 第五屏开始 */
.fifth-live-box {
	width: 1200px;
	margin: 70px auto 0;
	overflow:hidden;
}
.fifth-live-box ul li {
	position: relative;
	width: 277px;
	height: 628px;
	float: left;
	margin-right: 30px;
}
.fifth-live-box .live-item-1 {
	background: url("../images/fifth-item-1.png") center no-repeat;
	background-size: cover;
	display: block;
	content: '';
}
.fifth-live-box .live-item-2 {
	background: url("../images/fifth-item-2.png") center no-repeat;
	background-size: cover;
	display: block;
	content: '';
	margin-top: 60px;
}
.fifth-live-box .live-item-3 {
	background: url("../images/fifth-item-3.png") center no-repeat;
	background-size: cover;
	display: block;
	content: '';
}
.fifth-live-box .live-item-4 {
	background: url("../images/fifth-item-4.png") center no-repeat;
	background-size: cover;
	display: block;
	content: '';
	margin-top: 60px;
}
.live-box>ul {
	position: relative;
	width: 100%;
	height: 100%;
}
.fifth-live-box ul .li-no-margin {
	margin-right: 0;
}
.live-box>ul>li .text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 213px;
	height: 0;
	font-size: 18px;
	padding: 0 32px;
	color: #fff;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.6);
}
.live-box li .text p {
	margin-top: 177px;
}
.live-box .info {
	position: absolute;
	top: 428px;
	left: 50%;
	width: 150px;
	padding-top: 58px;
	margin-left: -75px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.live-box .fifth-info-1 em {
	position: absolute;
	top: 0;
	left: 50%;
	width: 36px;
	height: 34px;
	margin-left: -18px;
	background: url("../images/fifth-icon-1.png") center no-repeat;
	background-size: 100%;
}
.live-box .fifth-info-2 em {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 38px;
	margin-left: -12px;
	background: url("../images/fifth-icon-2.png") center no-repeat;
	background-size: 100%;
}
.live-box .fifth-info-3 em {
	position: absolute;
	top: 0;
	left: 50%;
	width: 42px;
	height: 30px;
	margin-left: -21px;
	background: url("../images/fifth-icon-3.png") center no-repeat;
	background-size: 100%;
}
.live-box .fifth-info-4 em {
	position: absolute;
	top: 0;
	left: 50%;
	width: 40px;
	height: 20px;
	margin-left: -20px;
	background: url("../images/fifth-icon-4.png") center no-repeat;
	background-size: 100%;
}
/* 第六屏开始 */
.sixth-content {
	height: 676px;
}
.sixth-live-box {
	position: relative;
	width: 1200px;
	height: 676px;
	margin: 0 auto;
	overflow: hidden;
}
.sixth-live-box ul {
	position: relative;
	width: 100%;
	height: 100%;
}
.sixth-live-box ul li {
	position: relative;
}
.sixth-live-box ul li .text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 208px;
	height: 0;
	font-size: 18px;
	padding: 0 42px;
	color: #fff;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.6);
}
.sixth-content-detail {
	margin-top: 263px;
}
.sixth-content-detail .sixth-content-title {
	position: relative;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 30px;
}
.sixth-content-detail .sixth-content-title:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 54px;
	height: 4px;
	margin-left: -27px;
	background-color: #fff;
	content: '';
}
.sixth-live-box .item-desc {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.sixth-live-box .item-desc:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #000;
	opacity: .5;
	content: '';
	z-index: -1;
}
.sixth-live-box .live-item-1{
	position: absolute;
	top: 0;
	left: 0;
	width: 292px;
	height: 676px;
	background: url("../images/sixth-item-1.png") center no-repeat;
	background-size: cover;
}
.sixth-live-box .live-item-2{
	position: absolute;
	top: 0;
	left: 302px;
	width: 293px;
	height: 333px;
	background: url("../images/sixth-item-2.png") center no-repeat;
	background-size: cover;
}
.sixth-live-box .live-item-3{
	position: absolute;
	top: 0;
	left: 606px;
	width: 293px;
	height: 333px;
	background: url("../images/sixth-item-3.png") center no-repeat;
	background-size: cover;
}
.sixth-live-box .live-item-4{
	position: absolute;
	top: 343px;
	left: 302px;
	width: 293px;
	height: 333px;
	background: url("../images/sixth-item-4.png") center no-repeat;
	background-size: cover;
}
.sixth-live-box .live-item-5{
	position: absolute;
	top: 343px;
	left: 606px;
	width: 293px;
	height: 333px;
	background: url("../images/sixth-item-5.png") center no-repeat;
	background-size: cover;
}
.sixth-live-box .live-item-6{
	position: absolute;
	top: 0;
	right: 0;
	width: 292px;
	height: 676px;
	background: url("../images/sixth-item-6.png") center no-repeat;
	background-size: cover;
}
/* 第七屏开始 */
.section-seven-content {
	position: relative;
	width: 100%;
	height: 756px;
	margin-top: 40px;
	padding-top: 100px;
	background: url("../images/seventh-bg.png") center no-repeat;
	background-size: cover;
}
.section-seven-content:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	content: '';
	z-index: 1;
}
.section-seventh:after {
	background: none!important;
}
.seven-content-detail {
	position: relative;
	width: 1200px;
	height: 620px;
	margin: 0 auto;
	background: #fff;
	z-index: 3;
}
.left-detail {
	width: 600px;
	height: 620px;
	background: url("../images/seventh-detail-img.png") center;
	background-size: cover;
}
.right-detail {
	height: 100%;
	padding-top: 40px;
	padding-right: 65px;
	margin-left: 645px;
}
.right-detail .right-title {
	color: #303030;
	font-size: 28px;
	margin-bottom: 12px;
}
.right-detail .right-title-name {
	color: #c99f5e;
	font-size: 28px;
	margin-bottom: 32px;
}
.right-detail .right-detail-info p {
	font-size: 18px;
	color: #303030;
	margin-bottom: 12px;
}
.right-detail .right-detail-info p b {
	font-weight: normal;
	text-align: right;
	width: 132px;
	display: inline-block;
	color: #c99f5e;
}
.right-info-desc {
	margin-top: 24px;
	font-size: 18px;
	color: #303030;
	text-align: justify;
}
.seventh-button {
	margin: 24px 0 0;
}
/* input聚焦效果 */
.form-box .focus-input {
	border: 1px solid #e7c78e;
}
.error-info {
	position: absolute;
	left: 20px;
	bottom: -24px;
	color: #ff4309;
	font-size: 12px;
}




/* 新表单 */
.form-box-new {
	width: 476px;
	position: relative;
	z-index: 111;
}
.form-box-new h2 {
	position: relative;
	width: 476px;
	height: 72px;
	line-height: 72px;
	background: #ff8e42;
	text-align: center;
	font-size: 26px;
	color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.form-box-new h2 em {
	position: absolute;
	left: 0;
	bottom: -22px;
	width: 476px;
	height: 22px;
	background: url("../images/form-title-bg.png") center no-repeat;
	background-size: 100%;
}
.form-box-content {
	position: relative;
	width: 376px;
	margin: 0 auto;
	padding: 25px 30px 30px 30px;
}
.form-box-content .form-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
	background: #fef8ce;
	opacity: .85;
}