*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #febe00;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #bfbfbf;
}
input::-moz-placeholder {
    color: #bfbfbf;
}
input:-ms-input-placeholder {
    color: #bfbfbf;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 7rem;
    background: url("../images/wap-home-banner.png") center no-repeat;
    background-size: 100%;
}
.title-info {
    position: absolute;
    top: 2.66rem;
    left: .5rem;
    font-size: .24rem;
    color: #9e5900;
}
.title-info span {
    color: #e90000;
    font-size: .28rem;
}
.title-desc {
    position: absolute;
    top: 3.26rem;
    left: .5rem;
    height: .35rem;
    line-height: .35rem;
    font-size: .2rem;
    color: #4e1a0b;
}
.redpacket-box {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 6.9rem;
    height: 2.02rem;
    margin-left: -3.45rem;
}
.plus {
    position: absolute;
    left: 50%;
    bottom: .88rem;
    width: .26rem;
    height: .26rem;
    margin-left: -.13rem;
    line-height: .26rem;
    background: #fff;
    border-radius: 50%;
}
.plus:after {
    position: absolute;
    top: .07rem;
    left: 50%;
    width: .02rem;
    height: .12rem;
    margin-left: -.01rem;
    background: #fa5436;
    content: '';
}
.plus:before {
    position: absolute;
    top: .12rem;
    left: 50%;
    width: .12rem;
    height: .02rem;
    margin-left: -.06rem;
    background: #fa5436;
    content: '';
}
.redpacket-box .redpacket-item {
    position: absolute;
    bottom: 0;
    width: 3.25rem;
    height: 2.02rem;
    background: url("../images/redpacket.png") center no-repeat;
    background-size: 100%;
}
.redpacket-box .redpacket-item p {
    position: absolute;
    bottom: .16rem;
    width: 100%;
    text-align: center;
    font-size: .28rem;
    color: #fff495;
}
.redpacket-box .redpacket-item .item-money {
    position: absolute;
    bottom: .8rem;
    width: 100%;
    text-align: center;
    font-size: .28rem;
    color: #fa5436;
}
.redpacket-box .redpacket-item .item-money span {
    font-size: .62rem;
    font-weight: 500;
}
.redpacket-box .pingan {
    left: 0;
}
.redpacket-box .pingan-jiankang {
    right: 0;
}
.redpacket-item.pingan:before {
    position: absolute;
    top: .14rem;
    left: 50%;
    width: 1.55rem;
    height: .26rem;
    margin-left: -.775rem;
    background: url("../images/pingan-logo.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.redpacket-item.pingan-jiankang:before {
    position: absolute;
    top: .14rem;
    left: 50%;
    width: 1.25rem;
    height: .26rem;
    margin-left: -.625rem;
    background: url("../images/pingan-jiankang-logo.png") center no-repeat;
    background-size: 100%;
    content: '';
}
/* 问卷 */
.questionnaire-box {
    width: 6.45rem;
    padding: .4rem .15rem .4rem .3rem;
    border-radius: .08rem;
    background: #fff;
    margin: .3rem auto;
}
.questionnaire-box .questionnaire-item {
    position: relative;
    padding-left: .45rem;
    margin-bottom: .4rem;
}
.questionnaire-box .questionnaire-item:last-child {
    margin-bottom: 0;
}
.questionnaire-box .questionnaire-item .item-title {
    color: #313131;
    font-size: .28rem;
}
.questionnaire-box .questionnaire-item .item-title em {
    position: absolute;
    top: .02rem;
    left: 0;
    width: .34rem;
    height: .34rem;
    line-height: .34rem;
    background: #f3d7d7;
    color: #c53738;
    font-size: .28rem;
    border-radius: 50%;
    font-style: normal;
    text-align: center;
}
.questionnaire-box .questionnaire-item .item-content {
    font-size: 0;
    margin-top: .26rem;
}
.questionnaire-box .questionnaire-item .item-content label{
    width: 1.22rem;
    margin-right: .4rem;
    font-size: .24rem;
    padding: .12rem .10rem;
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
    color: #767676;
    text-align: center;
}
.questionnaire-box .questionnaire-item .item-content label:last-child {
    margin-right: 0;
}
.questionnaire-box .questionnaire-item .item-content input[type="radio"]:checked + label {
    background-color: #febe00;
    border: 1px solid #febe00;
    color: #fff;
}
/* 表单 */
.form-content {
    width: 6.42rem;
    padding: .4rem .24rem;
    background: #fff;
    border-radius: .08rem;
    margin: 0 auto .3rem;
}
.form-content .form-title {
    font-size: .32rem;
    color: #c53738;
    text-align: center;
    margin-bottom: .2rem;
    display: none;
}
.show-title {
    animation: show-title 1s linear;
}
@keyframes show-title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.form-content p {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: .4rem;
}
.form-content p:before {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #999999;
    content: '';
    z-index: 1;
}
.form-content p span {
    position: relative;
    width: 3.62rem;
    text-align: center;
    color: #999999;
    font-size: .28rem;
    background: #fff;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
.input-box {
    position: relative;
    width: 6.3rem;
    margin: 0 auto .3rem;
    display: inline-table;
}
.input-box .left-box {
    height: .88rem;
    line-height: .88rem;
    font-size: .32rem;
    color: #333333;
}
.input-box .left-box span {
    margin-left: .3rem;
    display: inline-block;
}
.input-box .right-box {
    position: relative;
    width: 4.64rem;
    height: .36rem;
    padding: .26rem .2rem;
    font-size: 0;
    background: #eeeeee;
    border-radius: .08rem;
    margin-left: .3rem;
}
.input-box .right-box .input-text {
    width: 4.5rem;
    height: .36rem;
    line-height: .36rem;
    color: #999999;
    font-size: .32rem;
}
.box-right {
    position: absolute;
    top: .18rem;
    right: .26rem;
    width: 1.7rem;
    height: .52rem;
    background: #c53738;
    color: #fff;
    font-size: .32rem;
    border-radius: .08rem;
}
.box-right .send {
    width: 100%;
    height: .52rem;
    line-height: .52rem;
    display: block;
    color: #fff;
    font-size: .28rem;
}
.input-box .input-box-tip {
    position: absolute;
    left: 0;
    bottom: -.36rem;
    font-size: .22rem;
    color: #b6b9c2;
}
.form-submit {
    width: 6.3rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background: #f43623;
    color: #fff;
    font-size: .3rem;
    display: block;
    margin-top: .3rem;
    border-radius: .08rem;
    margin-bottom: .28rem;
}
/*复选框*/
.form-box .agree-box {
    width: 6.3rem;
    margin: 0 auto;
    font-size: .22rem;
    color: #7f7f7f;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.9rem;
    padding-left: .3rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    display: inline-block;
    top: .06rem;
    left: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url('../images/wap-form-nochecked.png') no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box input:checked + label>em {
    background: url('../images/wap-form-checked.png') no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box label a{
    color: #f26d04;
    text-decoration: none;
}
/* 赠险详情 */
.detail {
    width: 6.9rem;
    margin: .1rem auto .3rem;
}
.detail-title {
    width: 6.42rem;
    color: #fff;
    font-size: .28rem;
    margin: 0 auto .2rem;
}
.detail-title:before {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #763200;
    content: '';
    z-index: 1;
}
.detail-title span {
    position: relative;
    width: 1.36rem;
    text-align: center;
    color: #763200;
    font-size: .28rem;
    background: #febe00;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
.detail-container {
    width: 100%;
}
.detail-container .content-title p {
    width: 50%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background: #f9f0e5;
    font-size: .28rem;
    color: #d3b188;
    float: left;
}
.detail-container .content-title .active {
    position: relative;
    color: #fff;
    background: #fc5837;
}
.detail-container .content-title .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: .12rem;
    margin-left: -.06rem;
}
.detail-content {
    background: #fff;
    padding: .3rem .2rem .3rem .28rem;
}
.detail-content p {
    font-size: .24rem;
    height: .48rem;
    line-height: .48rem;
}
.detail-content p span{
    text-align: left;
}
.detail-content p span:first-child {
    float: left;
    color: #333333;
    font-size: .24rem;
}
.detail-content p span:last-child {
    width: 2.4rem;
    float: right;
    color: #fc5f5d;
    font-size: .24rem;
}
.detail-container .detail-content .detail-title-color span{
    color: #999999;
}
/* 底部信息 */
.footer {
    color: #a27800;
    text-align: center;
    font-size: .24rem;
    margin-bottom: .3rem;
}
.footer p {
    height: .34rem;
    line-height: .34rem;
}
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    display: none;
    z-index: 10;
}
/* 弹窗样式 */
.modal-box{
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 6.9rem;
    margin-left: -3.75rem;
    display: none;
    z-index: 11;
    background: #fff;
}
.modal-box.rules.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.modal-box.rules>h3 {
    position: relative;
    height: .9rem;
    padding-left: .3rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #13b777;
    background-color: #f3f3f3
}
.modal-box.rules>h3>a {
    position: absolute;
    top: 0;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    background:url(../images/wap-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal-box.rules .content {
    height: 5.5rem;
    padding: .3rem;
    overflow-y: scroll;
}
.modal-box.rules .content>p {
    line-height: .48rem;
    font-size: .24rem;
    color: #8e8e8e;
}