.modal-baiwanyiliao-modal {
    position: fixed;
    top: 2rem;
    left: 50%;
    width: 6.5rem;
    height: 8.6rem;
    margin-left: -3.25rem;
    background: url("../images/wap-baiwanyiliao-modal-bg.png") center no-repeat;
    background-size: 100%;
}
.modal-baiwanyiliao-modal h2 {
    position: absolute;
    top: 3.96rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffdf89;
    font-size: .32rem;
}
.modal-baiwanyiliao-modal h3 {
    position: absolute;
    top: 4.48rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffdf89;
    font-size: .44rem;
}
.modal-baiwanyiliao-submit {
    position: absolute;
    top: 6.14rem;
    left: 50%;
    width: 5.2rem;
    height: 1.12rem;
    line-height: 1.12rem;
    margin-left: -2.6rem;
    text-align: center;
    color: #d53232;
    font-size: .48rem;
    font-weight: bold;
}
.modal-time {
    position: absolute;
    top: 5.2rem;
    left: 1.9rem;
    color: #ffffff;
    font-size: .28rem;
    z-index: 2;
    display: flex;
}
.modal-time span {
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    border-radius: .08rem;
    display: inline-block;
    color: #fff;
    font-size: .24rem;
    background: #dc3333;
}
.modal-time-clock {
    line-height: .7rem;
}
.modal-time-text {
    height: .7rem;
    line-height: .7rem;
    margin-left: .16rem;
    float: left;
    color: #fff;
    margin-right: .14rem;
}
.modal-baiwanyiliao-info {
    position: absolute;
    right: .4rem;
    bottom: .4rem;
    color: #ffffff;
    font-size: .28rem;
}
.modal-baiwanyiliao-info span {
    color: #ffdf89;
}
.modal-baiwanyiliao-close {
    position: absolute;
    top: -1.18rem;
    right: .3rem;
    width: .88rem;
    height: 1.18rem;
    background: url("../images/wap-baiwanyiliao-close.png") center no-repeat;
    background-size: 100%;

}