*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
html,body {
    height: 100%;
}
body {
    background: #fdd37f;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #b5b5b5;
}
input::-moz-placeholder {
    color: #b5b5b5;
}
input:-ms-input-placeholder {
    color: #b5b5b5;
}
img {
    border-width: 0;
    border: none;
    outline: none;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 10.04rem;
    background: url("../images/wap-home-banner.png") center no-repeat;
    background-size: 100%;
}
.header-logo {
    position: absolute;
    top: .2rem;
    left: .3rem;
    width: 5.08rem;
    height: .3rem;
}
.header img {
    width: 100%;
    display: block;
}
.header-activity-time {
    position: absolute;
    top: 2.27rem;
    left: 50%;
    width: 5.32rem;
    height: .3rem;
    margin-left: -2.66rem;
}
.redpacket-box {
    position: absolute;
    left: 50%;
    bottom: 1.23rem;
    width: 6.9rem;
    height: 1.76rem;
    margin-left: -3.45rem;
    text-align: center;
}
.redpacket-item {
    position: relative;
}
.redpacket-item h2 {
    font-size: .28rem;
    margin-top: .26rem;
    font-weight: normal;
}
.left-item h2 {
    color: #fd643c;
}
.right-item h2 {
    color: #43ba3b;
}
.left-item p,
.right-item p {
    font-size: .28rem;
    color: #ffffff;
    margin-top: .48rem;
}
.redpacket-box .left-item {
    width: 3.25rem;
    height: 1.76rem;
    float: left;
    background: url("../images/radpacket-forward.png") center no-repeat;
    background-size: 100%;
}
.redpacket-box .right-item {
    width: 3.25rem;
    height: 1.76rem;
    float: right;
    background: url("../images/radpacket-backward.png") center no-repeat;
    background-size: 100%;
}
.plus {
    position: absolute;
    top: 1.05rem;
    left: 50%;
    width: .22rem;
    height: .22rem;
    margin-left: -.11rem;
    background: #fd5861;
    border-radius: 50%;
}
.plus:before {
    position: absolute;
    top: .05rem;
    left: .1rem;
    width: .03rem;
    height: .13rem;
    background: #fff;
    content: '';
}
.plus:after {
    position: absolute;
    top: .1rem;
    left: .05rem;
    width: .13rem;
    height: .03rem;
    background: #fff;
    content: '';
}
/* 表单 */
.form-detail {
    width: 6.3rem;
    padding: .38rem .3rem;
    background: #fff;
    border-radius: .08rem;
}
.form-detail h2 {
    position: relative;
    width: 5.1rem;
    margin: 0 auto .3rem;
    font-size: .28rem;
    color: #f93c5c;
    font-weight: normal;
    text-align: center;
}
.form-detail h2 span {
    position: relative;
    width: 3.9rem;
    background: #fff;
    display: block;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}
.form-detail h2:before {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f93c5c;
    content: '';
    z-index: 1;
}
.form-content {
    font-size: 0;
}
.input-box {
    position: relative;
    padding: .26rem;
    border: 1px solid #e2e2e2;
    border-radius: .08rem;
    margin-bottom: .3rem;
}
.input-box .left-box {
    width: .9rem;
    height: .34rem;
    line-height: .34rem;
    font-size: .28rem;
    color: #303030;
}
.input-box .right-box {
    width: 4.1rem;
    height: .34rem;
    margin-left: .3rem;
}
.input-text {
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    font-size: .28rem;
    color: #303030;
}
.input-box .captcha-input {
    width: 2.5rem;
}
.form-content p {
    font-size: .24rem;
    color: #b6b9c2;
    text-align: center;
}
.form-submit {
    width: 6.3rem;
    height: .8rem;
    line-height: .8rem;
    border-radius: .04rem;
    text-align: center;
    display: block;
    font-size: .3rem;
    color: #ffffff;
    background: linear-gradient(to bottom , #ffb571, #f9415d);
    margin-top: .24rem;
}
/* 性别 */
.sex-box {
    position: absolute;
    right: .3rem;
    top: .22rem;
    width: 1.6rem;
    font-size: .28rem;
    color: #303030;
}
.sex-box .sex-item {
    position: relative;
    float: left;
}
.sex-box .male-box {
    margin-right: .28rem;
}
.form-box .sex-box label>em {
    position: absolute;
    display: inline-block;
    top: .08rem;
    left: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url("../images/sex-nochecked.png") no-repeat;
    background-size: 0.22rem;
}
.form-box .sex-box label {
    padding-left: .36rem;
}
.form-box .sex-box input:checked + label>em {
    background: url("../images/sex-checked.png") no-repeat;
    background-size: 0.22rem;
}
/* 验证码 */
.box-right {
    position: absolute;
    top: .16rem;
    right: 0;
    width: 1.68rem;
    height: .52rem;
    border-left: 1px solid #e2e2e2;
    padding-left: .3rem;
}
.box-right .send {
    height: .52rem;
    line-height: .52rem;
    font-size: .28rem;
    color: #f93c5c;
}
/* 同意 */
.form-box .agree-box {
    width: 6.18rem;
    margin: .28rem auto 0;
    font-size: .24rem;
    color: #7f7f7f;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.9rem;
    padding-left: .3rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    display: inline-block;
    top: .06rem;
    left: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url("../images/wap-form-nochecked.png") no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box input:checked + label>em {
    background: url("../images/wap-form-checked.png") no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box label a{
    color: #f93c5c;
    text-decoration: none;
}
.form-box .agree-box-part {
    width: 6.1rem;
    margin: 0 auto;
    color: #d1ba95;
    font-size: 0.24rem;
    background-color: #ab7c57;
    padding: 0.2rem 0.7rem;
}
.form-box .agree-box-new span{
    display: inline-flex;
    width: 1.75rem;
}
.form-box .agree-box-new span:last-child{
    margin-left: .62rem;
}
.form-box .agree-box-new label{
    width: auto;
    padding-left: .25rem;
}
/* 文字区域公用样式 */
.section-text {
    position: relative;
    width: 6.9rem;
    background: #fff;
    margin: .86rem auto .52rem;
    border-radius: .3rem;
    box-shadow: 0 8px 0 #f5a02b;
    overflow: unset;
}
.section-text p {
    font-size: .3rem;
    color: #333333;
    margin-bottom: .24rem;
    text-align: center;
}
.section-text p span {
    color: #f93c5c;
    font-size: .28rem;
}
.section-text p:last-child {
    margin-bottom: 0;
}
/* plus */
.section-plus {
    padding: .7rem 0 .36rem 0;
}
.section-plus p {
    text-align: center;
}
/* 限量 */
.section-num {
    width: 6.5rem;
    padding: .7rem 0 .36rem .4rem;
}
.section-num h2,
.section-plus h2 {
    position: absolute;
    top: -.32rem;
    left: 50%;
    width: 3.7rem;
    height: .66rem;
    line-height: .66rem;
    margin-left: -1.85rem;
    text-align: center;
    font-size: .28rem;
    color: #fff;
    background: url("../images/title-bg-long.png") center no-repeat;
    background-size: 100%;
}
.section-num p {
    text-align: left;
}
.section-num-tag {
    width: 6.05rem;
    height: .8rem;
    padding: .15rem 0;
    border-radius: .1rem;
    background: linear-gradient(to bottom ,#8398fb, #aba4ff);
}
.section-num-tag b {
    font-weight: normal;
    font-size: .36rem;
    color: #ffffff;
    display: block;
    text-align: center;
}
.section-num-tag b:last-child {
    font-weight: bold;
    font-size: .3rem;
}
/* 产品特色 */
.section-product {
    padding: .65rem 0 .36rem 0;
}
.section-product h2{
    position: absolute;
    top: -.32rem;
    left: 50%;
    width: 2.72rem;
    height: .66rem;
    margin-left: -1.36rem;
    line-height: .66rem;
    text-align: center;
    font-size: .28rem;
    color: #fff;
    background: url("../images/title-bg-short.png") center no-repeat;
    background-size: 100%;
}
.section-text p.long-margin {
    margin-bottom: .76rem;
}
.section-product p:last-child {
    margin-bottom: 0;
}
/* 保障全 */
.section-ensure {
    padding:.55rem 0 ;
    background: #fff;
}
.section-ensure h2 {
    position: relative;
    width: 5.12rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    border-radius: .245rem;
    margin: 0 auto;
    font-size: .3rem;
    color: #ffffff;
    background: #aba5fe;
}
.section-ensure h2 span {
    position: absolute;
    top: -.14rem;
    left: -.44rem;
    width: .75rem;
    height: .75rem;
    line-height: .75rem;
    border-radius: 50%;
    background: #beb9ff;
}
.section-ensure h2 span:before {
    position: absolute;
    top: .13rem;
    left: .25rem;
    width: .24rem;
    height: .47rem;
    background: url("../images/icon-problem.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-ensure img {
    width: 6.71rem;
    height: 6.88rem;
    margin: 0 auto;
    display: block;
}
.section-ensure-desc {
    margin: .36rem 0;
    font-size: .28rem;
    color: #8198fb;
    text-align: center;
}
.section-ensure-desc p {
    height: .36rem;
    line-height: .36rem;
}
/* 保障描述 */
.section-desc {
    height: 6.12rem;
    background: url("../images/section-desc.png") center no-repeat;
    background-size: 100%;
}
/* 专属绿色服务通道 */
.section-service {
    width: 7.1rem;
    padding: .58rem .2rem;
    background: #fff;
}
.section-service h2 {
    position: relative;
    width: 5.42rem;
    margin: 0 auto;
    font-size: .5rem;
    color: #7288fc;
    text-align: center;
}
.section-service h2:before {
    position: absolute;
    top: .16rem;
    left: 0;
    width: .48rem;
    height: .36rem;
    background: url("../images/title-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-service h2:after {
    position: absolute;
    top: .16rem;
    right: 0;
    width: .48rem;
    height: .36rem;
    background: url("../images/title-icon.png") center no-repeat;
    background-size: 100%;
    transform: rotate(180deg);
    content: '';
}
.section-service .section-desc-tel {
    position: relative;
    width: 2.12rem;
    margin: .3rem auto;
    font-size: .4rem;
    color: #7288fc;
    padding-left: .5rem;
}
.section-service .section-desc-tel:before {
    position: absolute;
    top: .05rem;
    left: 0;
    width: .34rem;
    height: .34rem;
    background: url("../images/tel-icon.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-title-desc {
    font-size: .28rem;
    color: #aeb5ff;
    text-align: center;
    margin-bottom: .3rem;
}
.section-title-desc p {
    height: .4rem;
    line-height: .4rem;
}
/* 表格 */
.table-box {
    width: 7.1rem;
    margin: 0 auto;
}
.table-box table {
    border-collapse: collapse;
    border: 1px solid #86b5ff;
}
.table-box table tr td {
    font-size: 0.24rem;
    color: #6c7cff;
    text-align: center;
    height: 0.7rem;
    border: 1px solid #86b5ff;
}
.table-box table tr .first-td {
    background: #f7f7ff;
}
.table-box table tr .td13 {
    width: 1.3rem;
}
.table-padding {
    padding: 0 .15rem;
}
/*  底部信息 */
.footer {
    color: #fff;
    font-size: .2rem;
    text-align: center;
    padding: .28rem 0 .38rem;
    background: #9598b8;
}
.footer p {
    height: .4rem;
    line-height: .4rem;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    display: none;
    z-index: 10;
}
/* 用户协议弹窗 */
.modal-box {
    background-color: #fff;
    z-index: 11;
}
.modal-box.detail {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    width: 5.7rem;
    margin-left: -2.85rem;
    padding: .3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.modal-box.detail.active {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.modal-box.detail>h3 {
    position: relative;
    padding-top: .14rem;
    padding-bottom: .14rem;
    font-size: .28rem;
    color: #444;
    border-bottom: 1px dashed #dfdfdf;
}
.modal-box.detail>h3>a {
    position: absolute;
    top: 0;
    right: 0;
    width: .56rem;
    height: .56rem;
    background:url(../images/wap-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal-box.detail .content {
    width: 100%;
    padding: .3rem .1rem;
}
.modal-box.detail .content>h4 {
    position: relative;
    height: .8rem;
    padding-bottom: .25rem;
    font-size: .28rem;
    line-height: 0.45rem;

}
.modal-box.detail .content>h4>span {
    display: block;
}
.modal-box.detail .content>h4>span:first-child {
    color: #4c9ffa;
}
.modal-box.detail .content>h4>span:last-child {
    color: #999;
}
.modal-box.detail .content>table {
    width: 100%;
    line-height: .32rem;
    font-size: .24rem;
    border: 0;
    border-collapse: collapse;
}
.modal-box.detail .content>table th,
.modal-box.detail .content>table td {
    padding: .12rem .2rem;
}

.modal-box.detail .content>table th {
    width: 70%;
    color: #444;
    background-color: #f1f1f1;
}
.modal-box.detail .content>table td {
    width: 30%;
    color: #999;
}
.modal-box.detail .content>table tr:nth-child(2n) td {
    background-color: #f1f1f1;
}
.modal-box{
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 6.9rem;
    margin-left: -3.75rem;
    display: none;
}
.modal-box.rules.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.modal-box.rules>h3 {
    position: relative;
    height: .9rem;
    padding-left: .3rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #13b777;
    background-color: #f3f3f3
}
.modal-box.rules>h3>a {
    position: absolute;
    top: 0;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    background:url(/static/activity/shouqianba/images/wap-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal-box.rules .content {
    height: 5.5rem;
    padding: .3rem;
    overflow-y: scroll;
}
.modal-box.rules .content>p {
    line-height: .48rem;
    font-size: .24rem;
    color: #8e8e8e;
}
/* 弹窗 */
.success-box {
    position: absolute;
    top: 1.98rem;
    left: 50%;
    width: 5.2rem;
    margin-left: -3.25rem;
    padding: .64rem .64rem .56rem .64rem;
    background: #fff;
    border-radius: .08rem;
    display: none;
}
.success-box h2 {
    position: relative;
    width: 3.55rem;
    margin: 0 auto .45rem;
    font-size: .4rem;
    color: #ef3a3a;
    padding-left: .63rem;
    text-align: center;
}
.success-box h2:before {
    position: absolute;
    top: 0;
    left: 0;
    width: .54rem;
    height: .54rem;
    background: url("../images/wap-success-finish.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.success-box p {
    font-size: .28rem;
    color: #000000;
    margin-bottom: .34rem;
}
.success-box p span {
    width: .3rem;
    height: .3rem;
    background: #ffa2a2;
    text-align: center;
    line-height: .3rem;
    border-radius: 50%;
    display: inline-block;
    font-size: .24rem;
    color: #d32525;
    margin-right: .12rem;
}
.success-box p.success-tip {
    font-size: .24rem;
    color: #444444;
    margin-bottom: 0;
}
.success-box .success-button {
    width: 5.2rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    font-size: .36rem;
    color: #ffffff;
    display: block;
    margin-top: .56rem;
    background: #fd4558;
}
.success-box .success-close {
    position: absolute;
    right: 0;
    top: -1rem;
    width: .7rem;
    height: .7rem;
    background: url("../images/wap-success-close.png") center no-repeat;
    background-size: 100%;
}