*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #ffffff;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #8f96a1;
}
input::-moz-placeholder {
    color: #8f96a1;
}
input:-ms-input-placeholder {
    color: #8f96a1;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 3.8rem;
    background: url("../images/wap-home-banner.png") center no-repeat;
    background-size: 100%;
}
.header .header-info {
    position: absolute;
    top: .8rem;
    left: .5rem;
    font-size: .44rem;
    color: #2d2c45;
    text-align: center;
}
.header .header-info span {
    color: #d8603b;
}
.header .header-radio-info {
    position: absolute;
    top: 2.1rem;
    left: .52rem;
    text-align: center;
}
.header .header-radio-info .radio-item {
    margin-right: .38rem;
}
.header .header-radio-info .radio-item .item-money {
    width: .9rem;
    height: .9rem;
    line-height: .9rem;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: .28rem;
    color: #d8603b;
}
.header .header-radio-info .radio-item .item-tip {
    margin-top: .1rem;
    font-size: .2rem;
    color: #2d2c45;
}

/* 主体表格 */
.table-container {
    border-bottom: 1px dashed #d6e3ef;
    margin-bottom: .26rem;
}
.table-container .table-title {
    padding: .32rem 0;
    text-align: center;
    color: #2d2c45;
    font-size: .36rem;
    border-bottom: 1px dashed #d6e3ef;
}
.table-container .table-content {
    width: 6.9rem;
    margin: .3rem auto;
}
.table-container .table-content .table-info {
    padding: 0 .1rem;
    color: #8f96a1;
    font-size: .28rem;
}
.table-container .table-content .table-info span:last-child {
    float: right;
}
.table-box {
    margin: .28rem 0;
    border: 1px solid #d6e3ef;
    border-radius: .04rem;
    overflow: hidden;
    font-size: .28rem;
}
.table-box table {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}
.table-box table thead {
    border-bottom: 1px solid #d6e3ef;
}
.table-box table thead th {
    width: 50%;
    color: #2d2c45;
    padding: .26rem 0;
    background: #f6fafd;
    font-weight: normal;
}
.table-box table tbody tr {
    border-bottom: 1px solid #d6e3ef;
}
.table-box table tbody tr:last-child {
    border-bottom: none;
}
.table-box table tbody td {
    height: .4rem;
    line-height: .4rem;
    padding: .26rem .2rem;
}
.table-box thead th:last-child,
.table-box tbody tr td:last-child {
    border-left: 1px solid #d6e3ef;
}

/* 产品相关主体 */
.product-container .product-title {
    color: #2d2c45;
    font-size: .28rem;
}
.product-container .product-title ul {
    height: .7rem;
}
.product-container .product-title ul li {
    position: relative;
    width: 2.48rem;
    height: .44rem;
    text-align: center;
    float: left;
    list-style-type: none;
    border-right: 1px solid #d6e3ef;
}
.product-container .product-title ul li:after {
    position: absolute;
    left: 0;
    bottom: -.26rem;
    width: 2.5rem;
    height: .05rem;
    content: '';
    background: #d6e3ef;
}
.product-container .product-title ul .active {
    color: #63b0af;
}
.product-container .product-title ul .active:after {
    background: #63b0af;
}
.product-container .product-title ul li:last-child {
    border-right: 0;
}
/* 产品特色 */
.product-content {
    width: 6.9rem;
    margin: .3rem auto 0;
}
.product-content .product-box,
.claim-content .claim-box {
    width: 100%;
    height: 2.7rem;
    padding: .5rem 0;
    background: #f0f5fa;
    border-radius: 4px;
    text-align: center;
    margin-bottom: .3rem;
}
.product-content .product-box .product-box-title {
    color: #2d2c45;
    font-size: .44rem;
}
.product-content .product-box .product-box-content {
    position: relative;
    margin: .48rem 0 0 .5rem;
}
.product-content .product-box .product-box-item {
    text-align: center;
    margin-right: .7rem;
}
.product-content .product-box .product-box-item:last-child {
    margin-right: 0;
}
.product-content .product-box .product-box-item p {
    color: #2d2c45;
    font-size: .24rem;
}
.product-content .product-box .product-box-item p span {
    color: #d8603b;
}
.product-content .product-box .product-box-item .item-icon {
    width: 1.26rem;
    height: 1.26rem;
    margin: 0 auto .3rem;
}
.aeroplane .item-icon {
    background: url("../images/transport-icon-aeroplane.png") center no-repeat;
    background-size: 100%;
}
.car .item-icon {
    background: url("../images/transport-icon-car.png") center no-repeat;
    background-size: 100%;
}
.train .item-icon {
    background: url("../images/transport-icon-train.png") center no-repeat;
    background-size: 100%;
}
/* 生效时间 */
.product-content .product-box .effective-time-content {
    margin-left: .64rem;
}
.product-content .product-box .effective-time-content .product-box-item {
    position: relative;
    margin-right: .96rem;
}
.product-content .product-box .effective-time-content .arrow-icon:after,
.claim-arrow-right:after,
.claim-arrow-bottom:after,
.claim-arrow-left:after{
    position: absolute;
    top: .5rem;
    right: -.77rem;
    width: .57rem;
    height: .25rem;
    content: '';
    background: url("../images/product-arrow-icon.png") center no-repeat;
    background-size: 100%;
}

.product-content .product-box .effective-time-content .product-box-item:last-child {
    margin-right: 0;
}
.product-content .product-box .effective-time .item-icon{
    position: relative;
    background: #fff;
    border-radius: 50%;
}
.effective-time-icon-1 .item-icon:after {
    position: absolute;
    top: .26rem;
    left: 50%;
    width: .62rem;
    height: .7rem;
    margin-left: -.31rem;
    content: '';
    background: url("../images/effective-time-icon-1.png") center no-repeat;
    background-size: 100%;
}
.effective-time-icon-2 .item-icon:after {
    position: absolute;
    top: .26rem;
    left: 50%;
    width: .78rem;
    height: .78rem;
    margin-left: -.39rem;
    content: '';
    background: url("../images/effective-time-icon-2.png") center no-repeat;
    background-size: 100%;
}
.effective-time-icon-3 .item-icon:after {
    position: absolute;
    top: .26rem;
    left: 50%;
    width: .68rem;
    height: .9rem;
    margin-left: -.34rem;
    content: '';
    background: url("../images/effective-time-icon-3.png") center no-repeat;
    background-size: 100%;
}
/* 天平部分 */
.product-content .product-box .balance-content {
    margin: 0;
}
.product-content .product-box .balance-content:after {
    position: absolute;
    top: .92rem;
    left: 1.47rem;
    width: 3.96rem;
    height: 1.14rem;
    content: '';
    background: url("../images/balance-icon.png") center no-repeat;
    background-size: 100%;
}
.product-content .product-box .balance-content {
    font-size: .24rem;
    color: #2d2c45;
}
.product-content .product-box .balance-content span {
    color: #d8603b;
    font-size: .39rem;
}
.product-content .product-box .balance-content .premium {
    position: absolute;
    top: 1rem;
    left: .76rem;
}
.product-content .product-box .balance-content .coverage {
    position: absolute;
    top: .4rem;
    right: 1.32rem;
}
/* 理赔流程 */
.claim-container,
.form-container {
    width: 6.9rem;
    margin: 0 auto;
}
.claim-content .claim-box {
    position: relative;
    height: 3.85rem;
}
.claim-container .claim-title,
.form-container .form-title {
    font-size: .28rem;
    color: #2d2c45;
    border-left: .06rem solid #63b0af;
    padding-left: .2rem;
    margin-bottom: .3rem;
}
.claim-container .claim-content .claim-item .claim-item-detail .claim-info {
    color: #2d2c45;
    font-size: .24rem;
}
.claim-container .claim-content .claim-item .claim-item-detail .claim-tip {
    font-size: .18rem;
    color: #8f96a1;
}
.claim-container .claim-content .claim-item-1 {
    position: absolute;
    top: .83rem;
    left: .78rem;
}
.claim-container .claim-content .claim-item-1 .claim-item-icon {
    width: .5rem;
    height: .54rem;
    margin: 0 auto .4rem;
    background: url("../images/claim-icon-1.png") center no-repeat;
    background-size: 100%;
}
.claim-container .claim-content .claim-item-2 {
    position: absolute;
    top: .83rem;
    right: 1.13rem;
}
.claim-container .claim-content .claim-item-2 .claim-item-icon {
    width: .54rem;
    height: .54rem;
    margin: 0 auto .4rem;
    background: url("../images/claim-icon-2.png") center no-repeat;
    background-size: 100%;
}
.claim-container .claim-content .claim-item-3 {
    position: absolute;
    right: .83rem;
    bottom: .5rem;
}
.claim-container .claim-content .claim-item-3 .claim-item-icon {
    width: .52rem;
    height: .64rem;
    margin: 0 auto .4rem;
    background: url("../images/claim-icon-3.png") center no-repeat;
    background-size: 100%;
}
.claim-container .claim-content .claim-item-4 {
    position: absolute;
    left: 1.5rem;
    bottom: .5rem;
}
.claim-container .claim-content .claim-item-4 .claim-item-icon {
    width: .52rem;
    height: .52rem;
    margin: 0 auto .4rem;
    background: url("../images/claim-icon-4.png") center no-repeat;
    background-size: 100%;
}
.claim-arrow-right:after {
    top: .14rem;
    right: -.85rem;
}
.claim-arrow-bottom:after {
    top: 1.2rem;
    left: -.65rem;
    transform: rotate(90deg);
}
.claim-arrow-left:after {
    top: .22rem;
    left: -.66rem;
    transform: rotate(180deg);
}
/* 表单主体 */
.form-container .form-title span {
    font-size: .24rem;
    color: #8f96a1;
    margin-left: .2rem;
}
.input-box {
    position: relative;
    height: .88rem;
    margin-bottom: .3rem;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    font-size: 0;
    border-radius: 4px;
}
.input-box .left-box {
    width: 1.12rem;
    height: .3rem;
    line-height: .3rem;
    float: left;
    padding: .3rem .34rem;
    font-size: .28rem;
    color: #313131;
    text-align: justify;
    text-align-last: justify;
    border-right: 1px solid #d4d4d4;
    background: #f6fafd;
    overflow: hidden;
}
.input-box .input-text {
    width: 100%;
    font-size: .28rem;
    height: .3rem;
    line-height: .3rem;
}
.input-box .box-right {
    position: absolute;
    right: .1rem;
    top: .1rem;
    padding: .2rem .3rem;
    z-index: 10;
    background-color: #63b0af;
    border-radius: .04rem;
}
.input-box .right-box {
    width: 4.7rem;
    height: .3rem;
    float: left;
    padding: .3rem 0;
    margin-left: .3rem;
}
.input-box .box-right .send {
    height: .28rem;
    line-height: .28rem;
    background: none;
    font-size: .28rem;
    color: #fff;
}
/* 提交按钮 */
.submit-box {
    position: relative;
    width: 7.5rem;
    height: .98rem;
    line-height: .98rem;
    font-size: 0;
    margin: 0 auto;
    overflow: hidden;
    border-top: 1px solid #e9f1f8;
}
.submit-box a {
    width: 50%;
    padding: .32rem 0;
    height: 100%;
    line-height: 100%;
    text-align: center;
    display: inline-table;
}
.submit-box .submit-free {

    font-size: .24rem;
    color: #2d2c45;
}
.submit-box .submit-free .submit-money-detail {
    font-size: .42rem;
    color: #d8603b;
    vertical-align: middle;
}
.submit-box .form-submit {
    background: #63b0af;
    font-size: .32rem;
    color: #ffffff;
    box-sizing: border-box;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 10;
    display: none;
}
/* 支付弹窗 */
.modal-pay-box {
    position: fixed;
    top: 4.84rem;
    left: 50%;
    margin-left: -3.75rem;
    z-index: 11;
    background-color: #FFFFFF;
    display: none;
}
.pay-box-content {
    width: 6.86rem;
    margin: .34rem auto 0;
}
.pay-box-title {
    position: relative;
    color: #2d2c45;
    font-size: .32rem;
    text-align: center;
}
.pay-box-title span {
    position: absolute;
    top: .08rem;
    right: 0;
    width: .3rem;
    height: .3rem;
    background: url("../images/pay-box-close.png") center no-repeat;
    background-size: 100%;
}
.pay-box-form {
    margin-top: .34rem;
}
.pay-input-box .left-box {
    width: 1.8rem;
    padding: .3rem;
}
.pay-input-box .email-box {
    width: 1.12rem;
}
.pay-input-box .right-box {
    width: 4rem;
}
.select-box:after {
    position: absolute;
    top: .24rem;
    right: .22rem;
    padding: .12rem;
    border-top: 1px solid #8f96a1;
    border-right: 1px solid #8f96a1;
    content: '';
    transform: rotate(132deg);
    z-index: 2;
}
/* 同意 */
/*复选框*/
.form-box .agree-box {
    width: 6.7rem;
    margin: .3rem auto;
    font-size: .24rem;
    color: #8f96a1;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.9rem;
    padding-left: .3rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    display: inline-block;
    top: .06rem;
    left: 0;
    width: .22rem;
    height: .22rem;
    vertical-align: middle;
    background: url(../images/wap-form-nochecked.png) no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box input:checked + label>em {
    background: url(../images/wap-pay-checked.png) no-repeat;
    background-size: 0.22rem;
}
.form-box .agree-box label a{
    color: #63b0af;
    text-decoration: none;
}
.pay-box-detail {
    position: relative;
    width: 6.6rem;
    padding: .3rem 0 .3rem .3rem;
    margin-bottom: .3rem;
    background: #f0f5fa;
    border-radius: 4px;
}
.pay-box-detail:after {
    position: absolute;
    top: .42rem;
    right: .4rem;
    width: 1.14rem;
    height: 1.12rem;
    content: '';
    background: url("../images/pay-detail-icon.png") center no-repeat;
    background-size: 100%;
}
.pay-box-detail .detail-name {
    font-size: .4rem;
    color: #2d2c45;
    margin-bottom: .3rem;
}
.pay-box-detail .detail-info {
    font-size: .28rem;
    color: #2d2c45;
    margin-bottom: .2rem;
}
.pay-box-detail .detail-info:last-child {
    margin-bottom: 0;
}
/* 增险详情+弹窗 */
.modal-box{
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 6.9rem;
    margin-left: -3.75rem;
    background: #FFFFFF;
    display: none;
    z-index: 13;
}
.modal-box.rules.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.modal-box.rules>h3 {
    position: relative;
    height: .9rem;
    padding-left: .3rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #fff;
    background-color: #63b0af;
}
.modal-box.rules>h3>a {
    position: absolute;
    top: .28rem;
    right: .34rem;
    width: .34rem;
    height: .34rem;
    background:url(../images/wap-modal-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal-box.rules .content {
    height: 5.5rem;
    padding: .3rem;
    overflow-y: scroll;
}
.modal-box.rules .content>p {
    line-height: .48rem;
    font-size: .24rem;
    color: #8e8e8e;
}