*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #fff;
}
a {
    text-decoration: none;
    outline: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
img {
    border-width: 0;
    border: none;
    outline: none;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    width: 7.2rem;
    padding-top: .22rem;
    padding-left: .3rem;
    font-size: 0;
}
.header img {
    width: 1.54rem;
    height: .45rem;
}
.content img {
    width: .95rem;
    height: .95rem;
    margin: 0 auto .3rem;
    display: block;
}
.content h3 {
    color: #ff8400;
    font-size: .32rem;
    text-align: center;
    margin-bottom: .2rem;
}
.content p {
    height: .36rem;
    line-height: .36rem;
    font-size: .24rem;
    color: #999999;
    text-align: center;
}
.content a {
    width: 6rem;
    height: .88rem;
    line-height: .88rem;
    margin: .56rem auto 0;
    display: block;
    text-align: center;
    font-size: .32rem;
    color: #ffffff;
    border-radius: .04rem;
    background: #ff8400;
}