*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
body{
    background: #fff0b5;
}
a {
    text-decoration: none;
    outline: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #b5b5b5;
}
input::-moz-placeholder {
    color: #b5b5b5;
}
input:-ms-input-placeholder {
    color: #b5b5b5;
}
img {
    border-width: 0;
    border: none;
    outline: none;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 8.1rem;
    background: url("../images/wap-banner.png") center no-repeat;
    background-size: 100%;
    overflow: unset;
}
.company-logo {
    position: absolute;
    top: .2rem;
    right: .3rem;
    width: 1.55rem;
    height: .45rem;
    font-size: 0;
}
.header-info {
    position: absolute;
    top: 1.78rem;
    left: 1rem;
    font-size: .24rem;
    color: #72442a;
    text-align: center;
}
.header-info p {
    height: .35rem;
    line-height: .35rem;
}
.icon-box {
    position: absolute;
    left: 50%;
    bottom: -.98rem;
    width: 6.3rem;
    height: 1.16rem;
    margin-left: -3.45rem;
    padding: .4rem .3rem;
    background: #fffbe8;
    border-radius: .08rem;
}
.icon-box-item {
    font-size: .28rem;
    color: #72442a;
    float: left;
    margin-right: .58rem;
}
.icon-box-item:last-child {
    margin-right: 0;
}
.icon-box-item .item-icon {
    position: relative;
    width: .7rem;
    height: .7rem;
    margin: 0 auto .18rem;
    background: linear-gradient(to right, #ff9e10, #ff8810);
    border-radius: 50%;
}
.item-icon-1:before {
    position: absolute;
    top: .12rem;
    left: .14rem;
    width: .42rem;
    height: .48rem;
    background: url("../images/banner-icon-1.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.item-icon-2:before {
    position: absolute;
    top: .12rem;
    left: .14rem;
    width: .42rem;
    height: .48rem;
    background: url("../images/banner-icon-2.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.item-icon-3:before {
    position: absolute;
    top: .12rem;
    left: .14rem;
    width: .42rem;
    height: .48rem;
    background: url("../images/banner-icon-3.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.item-icon-4:before {
    position: absolute;
    top: .15rem;
    left: .14rem;
    width: .42rem;
    height: .42rem;
    background: url("../images/banner-icon-4.png") center no-repeat;
    background-size: 100%;
    content: '';
}
/* 表单 */
.form-container {
    width: 6.3rem;
    padding: .4rem .3rem;
    background: #fff;
    border-radius: .08rem;
    margin: 1.36rem auto .4rem;
    font-size: 0;
}
.form-container h3 {
    position: relative;
    font-size: .32rem;
    color: #72442a;
    text-align: center;
    font-weight: 600;
}
.form-container h3:before {
    position: absolute;
    top: .22rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #72442a;
    content: '';
}
.form-container h3 span {
    position: relative;
    width: 5.32rem;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    background: #fff;
    z-index: 2;
}
.form-container .title-info {
    width: 4.6rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .28rem;
    color: #ffffff;
    background: #b6a2cc;
    border-radius: .25rem;
    margin: .2rem auto .3rem;
}
/* 输入框 */
.input-box {
    position: relative;
    padding: .28rem .3rem;
    font-size: 0;
    border: 1px solid #e2e2e2;
    border-radius: .08rem;
    margin-bottom: .3rem;
}
.input-box .left-box {
    width: 1.2rem;
    height: .3rem;
    line-height: .3rem;
    font-size: .28rem;
    color: #444444;
    float: left;
    text-align: center;
}
.input-box .right-box {
    height: .3rem;
    float: left;
    margin-left: .3rem;
}
.input-box .right-box .input-text {
    width: 4rem;
    height: .3rem;
    line-height: .3rem;
    font-size: .28rem;
    color: #444444;
}
.input-box .right-box .shot-input {
    width: 2.5rem;
}
.form-info {
    font-size: .24rem;
    color: #bfa986;
    text-align: center;
}
.select:before {
    position: absolute;
    top: .26rem;
    right: .3rem;
    padding: .08rem;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    content: '';
    transform: rotate(132deg);
    z-index: 2;
}
.box-right {
    position: absolute;
    top: .16rem;
    right: .3rem;
    height: .52rem;
    border-left: 1px solid #e2e2e2;
    padding-left: .3rem;
}
.box-right .send {
    height: .52rem;
    line-height: .52rem;
    font-size: .28rem;
    color: #f84e4f;
}
.input-box .right-box .input-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: none;
    border-radius: .1rem;
    font-size: .28rem;
    color: #b5b5b5;
    background-color: #fff;
}
/* 输入按钮 */
.submit-button {
    position: relative;
    width: 6.3rem;
    height: .8rem;
    line-height: .8rem;
    background: #f84e4f;
    font-size: .34rem;
    color: #ffffff;
    display: inline-block;
    margin: .24rem auto;
    text-align: center;
    border-radius: .08rem;
}
/* 区域 */
.section-box {
    width: 6.9rem;
    padding-top: .4rem;
    background: #fff;
    border-radius: .08rem;
    margin-bottom: .4rem;
}
.section-box h3 {
    font-size: .34rem;
    color: #f84e4f;
    font-weight: 600;
    text-align: center;
}
.section-box h4 {
    position: relative;
    padding: 0 .2rem;
    margin: .2rem auto .32rem;
    text-align: center;
    font-size: .28rem;
    color: #977bb6;
    display: inline-block;
}
.section-box .section-info-box {
    text-align: center;
    font-size: 0;
}
.section-box h4:before {
    position: absolute;
    left: 0;
    bottom: -.02rem;
    width: 100%;
    height: .28rem;
    background: url("../images/section-info-bg.png") center no-repeat;
    background-size: 100%;
    content: '';
}
/* 区域标题的线 */
.section-title-line {
    position: absolute;
    top: .55rem;
    left: 0;
    width: 100%;
}
.line-box {
    width: 1.45rem;
}
.line-box i {
    width: 1.2rem;
    height: 1px;
    background: #fa8383;
    display: block;
    margin-bottom: .05rem;
}
.line-box i.long-line {
    width: 1.45rem;
}
.right-line-box {
    text-align: right;
}
.right-line-box i {
    float: right;
}
/* 区域1 */
.section-box-1 {
    padding-bottom: .2rem;
    height: 5.8rem;
}
.section-content {
    position: relative;
    width: 6.24rem;
    line-height: .42rem;
    margin: 0 auto;
    color: #999999;
    font-size: .26rem;
    letter-spacing: .01rem;
    z-index: 2;
}

.section-box-1 .section-box-1-bg{
    position: absolute;
    right: 0;
    bottom: .2rem;
    width: 6rem;
    height: 3rem;
    z-index: 1;
    background: url("../images/section-1-bg.png") center no-repeat;
    background-size: 100%;
}
/* 区域二 */
.section-box-2-content {
    width: 6.16rem;
    margin: 0 auto;
}
.section-item-box {
    margin-bottom: .64rem;
}
.section-item {
    width: 1.92rem;
    float: left;
    margin-right: .2rem;
    text-align: center;
}
.section-item-box .section-item:last-child {
    margin-right: 0;
}
.section-item i {
    position: relative;
    width: .92rem;
    height: .92rem;
    border: 1px solid #977bb6;
    border-radius: 50%;
    display: block;
    margin: 0 auto .3rem;
}
.section-item p {
    height: .4rem;
    line-height: .4rem;
}
.section-item .item-title {
    font-size: .28rem;
    color: #977bb6;
}
.section-item .item-desc {
    font-size: .24rem;
    color: #999999;
}
.section-item-1 i:before {
    position: absolute;
    top: .19rem;
    left: .19rem;
    width: .55rem;
    height: .55rem;
    background: url("../images/section-2-icon-1.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-item-2 i:before {
    position: absolute;
    top: .24rem;
    left: .19rem;
    width: .55rem;
    height: .43rem;
    background: url("../images/section-2-icon-2.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-item-3 i:before {
    position: absolute;
    top: .2rem;
    left: .2rem;
    width: .53rem;
    height: .48rem;
    background: url("../images/section-2-icon-3.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-item-4 i:before {
    position: absolute;
    top: .23rem;
    left: .18rem;
    width: .56rem;
    height: .47rem;
    background: url("../images/section-2-icon-4.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-item-5 i:before {
    position: absolute;
    top: .22rem;
    left: .19rem;
    width: .55rem;
    height: .48rem;
    background: url("../images/section-2-icon-5.png") center no-repeat;
    background-size: 100%;
    content: '';
}
.section-item-6 i:before {
    position: absolute;
    top: .18rem;
    left: .21rem;
    width: .51rem;
    height: .56rem;
    background: url("../images/section-2-icon-6.png") center no-repeat;
    background-size: 100%;
    content: '';
}
/* 服务详情 */
/* 图片在做的模块 */
.left-item .detail-content-box {
    margin-left: 3.54rem;
}
.left-item img{
    float: left;
}
/* 图片再右的模块 */
.right-item img{
    float: right;
}
.right-item .detail-content-box {
    margin-right: 3.47rem;
}
/* 左右公用样式 */
.server-section-item {
    margin-top: .16rem;
}
.server-item {
    padding: 0 .4rem 0 .3rem;
    margin-bottom: 1.04rem;
}
.server-item img {
    width: 3.22rem;
    height: 2.22rem;
}
.server-item .detail-content-box {
    position: relative;
}
.server-item .detail-content-box .detail-title {
    position: relative;
    font-size: .3rem;
    color: #333333;
    padding-left: .24rem;
    margin-bottom: .3rem;
    z-index: 2;
}
.server-item .detail-content-box .detail-title:before {
    position: absolute;
    top: .14rem;
    left: 0;
    width: 1.65rem;
    height: .28rem;
    background: #fff8bb;
    transform: skew(-34deg);
    content: '';
    z-index: -1;
}
.server-item .detail-content-box .detail-content {
    font-size: .26rem;
    color: #999999;
}
.server-item .detail-desc {
    width: 100%;
    float: left;
    font-size: .28rem;
    color: #977bb6;
    text-align: center;
    margin-top: .4rem;
}
.server-item .detail-desc p {
    height: .42rem;
    line-height: .42rem;
}
/* 轮播区域 */
.Cooldog_container {
    width: 100%;
    height: 3.1rem;
    position: relative;
    overflow: hidden;
}
.Cooldog_container .Cooldog_content {
    position: absolute;
    width: 100%;
    height: 3.1rem;
    top: 0;
    left: 50%;
    margin-left: -50%;
}

.carousel-box ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.68rem;
}
.carousel-box ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.9rem;
    height: 2.7rem;
    transition: all 0.3s ease;
    list-style-type: none;
    margin-left: 1.5rem;
}
.carousel-box ul li img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.p1 {
    transform: translate3d(-577px, 0, 0) scale(0.81);
    opacity: 0.4;
    z-index: 1;
}

.p2 {
    transform: translate3d(-325px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.6;
    z-index: 2;
}

.p3 {
    transform: translate3d(-200px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 3;
}

.p4 {
    transform: translate3d(0px, 0, 0) scale(1);
    opacity: 1;
    z-index: 4;
}

.p5 {
    transform: translate3d(240px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 3;
}

.p6 {
    transform: translate3d(425px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.6;
    z-index: 2;
}

.p7 {
    transform: translate3d(625px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.4;
    z-index: 1;
}
/* 地图区域 */
.map-container {
    position: relative;
    margin-top: -.86rem;
    z-index: 5;
    box-shadow: 0 -0.1rem 1rem #ebe0db;
}
.map-title {
    font-size: .28rem;
    color: #444444;
    text-align: center;
    margin-bottom: .4rem;
}
.map-box {
    width: 6.9rem;
    height: 4rem;
}
.BMap_bubble_title,
.BMap_bubble_content {
    font-size: .24rem;
}
.location-list {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.11rem;
    height: 2.52rem;
    font-size: .22rem;
    color: #666666;
    background: #fff;
    padding: .74rem 0;
    text-align: center;
}
.show-location-list {
    position: relative;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background: #977bb6;
    display: inline-block;
    margin-left: .18rem;
    margin-top: .04rem;
    margin-bottom: -.04rem;
}
.show-location-list:before {
    position: absolute;
    top: .07rem;
    right: .08rem;
    padding: .05rem;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    content: '';
    transform: rotate(132deg);
    z-index: 2;
}
.location-list {
    display: none;
}
.location-list ul {
    height: 2.52rem;
    overflow: hidden;
    overflow-y: auto;
}
.location-list:before {
    position: absolute;
    right: .9rem;
    top: .2rem;
    padding: .12rem;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    content: '';
    transform: rotate(132deg);
    z-index: 2;
}
.location-list:after {
    position: absolute;
    right: .9rem;
    bottom: .2rem;
    padding: .12rem;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    content: '';
    transform: rotate(132deg);
    z-index: 2;
}
.location-list ul li {
    height: .58rem;
    line-height: .58rem;
    list-style-type: none;
}
.location-list .active {
    background: #977bb6;
    color: #fff;
}